[2021-05-25 14:33] DanielVF commented on #47
We've got events firing for this:

[code]

[2021-05-25 14:33] #47 closed

[2021-05-26 15:42] DanielVF commented on #496
# AAVE v1 to Compound, intermediate migration

We'll need a governance action to set the cToken for DAI for the Compound Strategy, followed by three strategist actions.

Here's my internal test script for checking the procedure.

### 0. Setup additional contracts for this sim
[code]

### 1. Governance action
[code]

### 2. Strategist actions
[code]

### 3. Testing that it worked
[code]

[code]

[c

[2021-05-26 15:45] DanielVF commented on #496
@mikeshultz Will we need to update analytics to look for DAI in the compound strat, or does it already do that?

[2021-05-26 15:58] mikeshultz commented on #496
Looks like it'll need to get updated.  Added an issue to track.  Should be a simple update.  What's the timeline on this?

https://github.com/OriginProtocol/ousd-analytics/issues/136

[2021-05-26 17:26] DanielVF commented on #496
@mikeshultz Next couple days?

[2021-05-26 17:34] mikeshultz commented on #496
Will try and work this change in today or tomorrow.

[2021-05-26 17:34] DanielVF commented on #496
Much awesome! Thanks!

[2021-06-02 17:36] mikeshultz commented on #496
btw, analytics has been updated to track DAI in the Compound strategy.

[2021-06-08 14:26] DanielVF commented on #590
## Approach

After writing some code to try out the live migration of values as they are used approach, I now lean towards an upgrade contract. I don't like having any ongoing complexity put into the contract that must stay there for all time.

We need to upgrade the values for:

- rebasingCredits (one time)
- rebasingCreditsPerToken (one time)
- _creditBalances (for each account)
- nonRebasingCre

[2021-06-08 21:49] tomlinton commented on #590
Any thoughts on how we'd achieve the per account changes? Been a while out of Solidity land. I guess it'd be a matter of having a migration function that accepts an array of addresses and we feed it all the accounts.

For the backward compatability, 1. seems like it might be the best option. Is the only function that matters the `function creditsBalanceOf(address _account)`? We could just leave th

[2021-06-09 14:20] DanielVF commented on #590
@tomlinton I was thinking of something along these lines:

[code]

[2021-06-09 14:22] DanielVF commented on #590
@tomlinton On the backwards compatibility, not only that method changes, but also all our public variables with the name "credits" in them. We'd have to change the names of the variables, then provide accessors that divide the actual values to make them smaller to match the old values.

[2021-06-09 23:07] tomlinton commented on #590
True true. Are there any integrators that we are aware of that would need to update aside from Kucoin?

[2021-06-10 18:12] franckc commented on #319
Implemented in #598

[2021-06-25 15:50] mikeshultz commented on #496
Maybe this is out of scope currently, but aren't there AAVE token rewards for lending?

[2021-06-25 15:54] micahalcorn commented on #496
I'm not aware of any unless they added some new incentives. Historically, you could only earn by staking.

[2021-06-25 16:14] mikeshultz commented on #496
I'm personally lending a minor wad to AAVE and I'm receiving stkAAVE (their AAVE staking token) for lending.  When using their UI to claim my rewards (AAVE tokens?), it sends `0x3111e7b3` (`claimRewards(address[],uint256,address)`) to [`0xd784927Ff2f95ba542BfC824c8a8a98F3495f6b5`](https://etherscan.io/address/0xd784927Ff2f95ba542BfC824c8a8a98F3495f6b5), which is [StakedTokenIncentivesController](h

[2021-06-25 16:35] mikeshultz commented on #496
Looks like they call it [Liquidity Mining](https://docs.aave.com/developers/guides/liquidity-mining).

[2021-06-25 17:37] micahalcorn commented on #496
Oh, that's great to know @mikeshultz 👍 I've been out of the loop since I haven't used Aave since late last year. We should claim the rewards for sure.

[2021-06-25 18:30] DanielVF commented on #496
Sure enough. I called the contract methods to plan, and AAVE v2 is incentivized.

[2021-07-08 00:22] micahalcorn commented on #62
https://github.com/OriginProtocol/origin-dollar/issues/576 is going to result in some significant changes to /mint. So there's not going to be a clean way to add this new view at the same time. I suggest that we just add a subtle proof-of-concept transaction history and then decide later how best to tie it in with the new swap design that @sparrowDom will be implementing. Here's what I was thinkin

[2021-07-08 09:10] sparrowDom commented on #62
Nice I like it. One minor UI comment, maybe it would be cool if the UI box stays the same height and we just make the transaction history scrollable within it. I think it would be consistent with the side panel messages we are already showing. Those are also fixed height and scrollable.

[2021-07-08 13:28] DanielVF commented on #62
There are going to be a lot of rebase events! How is the UI going to find out about them? Analytics query? Perhaps we should collapse all rebase events between other events into one entry?

[2021-07-08 15:42] micahalcorn commented on #62
Great points @sparrowDom and @DanielVF 👍 Yes, we should fix the height of the containing element if that's not already the case. Regarding the query, I believe that @franckc was [suggesting that we use the analytics API](https://github.com/OriginProtocol/origin-dollar/issues/62#issuecomment-767137207). I do like the suggestion to collapse back-to-back rebases, but I would want them to still be exp

[2021-07-08 18:44] franckc commented on #62
Yes, +1 for calling the Analytics back-end to fetch the data. Seems the simplest to start with. Later we should evaluate creating a [subgraph](https://thegraph.com/docs) but I think that is out of scope for this issue.

[2021-07-29 22:27] tomlinton opened #619 "Remove encrypted secrets files and hardcode values"
Everything in there ends up accessible in the deployed source anyway if I'm not mistaken. Is there any objection to simplifying this?

[2021-07-29 23:21] franckc commented on #619
Having the Alchemy key checked in to github could expose us to a lot more abuse since it becomes trivial to search for it.

[2021-07-30 00:21] tomlinton commented on #619
How about we just base64 encode it so it's obfuscated for searching?

[2021-07-30 04:01] franckc commented on #619
Yes, obfuscating the env var name and its value sgtm.

[2021-08-02 16:23] DanielVF opened #623 "Convex strategy?"
Rather than staking our 3CRV tokens with the standard Curve gauge, we could stake with Convex. This claims to offer a much higher rewards token yield for CRV, and also pay their own CRVX.

The strategy remains our standard three pool contract, but with different logic for the gauge, withdraws, and rewards token.

The complication here is that we don't currently have a built in way to sell more tha

[2021-08-06 05:31] joshfraser commented on #458
Bumping this up in priority.

When you choose Ledger, we should show options for choosing the deviation path and wallet address. We should make an intelligent guess based on the coins in their wallet and preselect the wallet with the highest balance while still giving them the freedom to choose.

[2021-08-06 06:02] joshfraser opened #625 "Support Ledger Live DApp store"
Ledger Live now has a DApp store. We should make sure the OUSD DApp works with their web3 provider & apply to be featured.

https://developers.ledger.com/docs/dapp/introduction/

[2021-08-08 04:49] joshfraser opened #626 "Give a more useful error message when users need to enable contract data"
We currently show "Unexpected error happened" when people have contract data disabled on their Ledgers. Let's change this to a more useful error message since this is one of the most frequent issues that people run into on our DApp.

It's particularly important since Ledger seem to reset that permission to off every time you upgrade their firmware.

[2021-08-08 20:52] micahalcorn commented on #591
Closing this since the banner will go away with https://github.com/OriginProtocol/origin-dollar/pull/615 🚪

[2021-08-08 20:52] #591 closed

[2021-08-08 20:52] micahalcorn commented on #554
This is live! 🧟

[2021-08-08 20:52] #554 closed

[2021-08-08 20:54] micahalcorn commented on #496
Pretty much [done](https://github.com/OriginProtocol/origin-dollar/pull/601) ✌️

[2021-08-08 20:54] #496 closed

[2021-08-08 21:37] micahalcorn opened #627 "Curve Transaction Routing"
Once https://github.com/OriginProtocol/origin-dollar/issues/576 is done, we'll want to add support for [our OUSD MetaPool](https://etherscan.io/address/0x87650d7bbfc3a9f10587d7778206671719d9910d#code) since that's where we'll be focusing most of our liquidity efforts. Much like we're doing with Uniswap, we should automatically route transactions to this Curve pool when it would offer the most fina

[2021-08-09 14:41] DanielVF commented on #590
@micahalcorn We've made it so new, contract accounts come in at high resolution, but we haven't changed anything about the rest of accounts yet.

[2021-08-09 17:35] micahalcorn opened #628 "WalletConnect Failing Silently"
A Discord user (tomturbo1#6958) reported that WalletConnect is not working with the DApp and TrustWallet. The working theory is that our WalletConnect version is outdated and needs to be upgraded. I was able to reproduce the issue but there's no error in either the app or the browser's JS console.

After this, the "Connecting" notification just disappears:

![IMG_1587](https://user-images.githubus

[2021-08-11 04:40] #628 closed

[2021-08-11 23:32] tomlinton opened #631 "Next.js fast refresh breaks reactivity of pullstate"
I couldn't figure out why my components weren't updating on store changes, but turns out the subject is the reason.

https://github.com/vercel/next.js/issues/13268

[2021-08-12 19:48] KurogeWashu commented on #461
It connects fine on Chrome with default browser settings. Reproduced the error on Firefox, looks like a popup blocker problem.
Disabling popup blocker and refreshing the page enables the popup to connect with the MEW servers.

[2021-08-13 05:17] micahalcorn commented on #461
I can confirm that MEW wallet still works fine in Safari when the popup blocker is not in effect. However, I reproduced the exact issue described above where canceling the initial connection leads to the null error appearing on the second attempt. I'll leave this issue open in case others report it, but I think this is a bit of an edge case. I'm not able to reproduce any issues in Chrome.

[2021-08-13 05:36] micahalcorn commented on #371
I tried this just now and didn't have any issues minting OUSD using USDC from iOS MEW wallet 1.4.7 (21070701.203).

[2021-08-13 05:39] #371 closed

[2021-08-13 06:21] micahalcorn opened #634 "Coinbase Wallet Connection Option"
Coinbase Wallet is naturally supported in our DApp because it works with the same injected connector as MetaMask. In my experience, both of them connect automatically when "Connect" is clicked. This is different from the desktop version of MetaMask, which waits for the user to choose the MetaMask button from the listed options before connecting. As a result, there likely isn't a scenario where a u

[2021-08-16 20:02] micahalcorn opened #635 "DeFi Pulse Adapter"
https://github.com/ConcourseOpen/DeFi-Pulse-Adapters#how-to-get-listed-on-defi-pulse

[2021-08-20 18:19] sentry-io[bot] opened #648 "Stuck Loading on CryptoCompare Request"
Sentry Issue: [OUSD-D](https://sentry.io/organizations/origin-protocol/issues/1903895120/?referrer=github_integration)

[code]

Edit from @micahalcorn:

The resulting symptom here is that the DApp can't calculate an estimated output and thus won't allow the button to be enabled. When this happens, swapping is not possible and our DApp is rendered pretty much useless.

[2021-08-20 18:21] micahalcorn commented on #648
This is stalling on a request to https://min-api.cryptocompare.com/data/price?fsym=ETH&tsyms=USD.

<img width="686" alt="Screen Shot 2021-08-20 at 11 20 47 AM" src="https://user-images.githubusercontent.com/273937/130277057-3e0392e5-7ff2-4330-91e2-1fcf540ecb97.png">

[2021-08-20 18:26] micahalcorn commented on #648
While I'm experiencing this, [status.cryptocompare.com](https://status.cryptocompare.com/) doesn't even load. So I assume this is an issue on their end. We should think about whether we want to degrade gracefully to a dumber version of the swap routing if we can't get ETH prices. We could just revert to using Origin Vault in this case or just remove gas from the equation. Perhaps we should think a

[2021-08-20 20:09] joshfraser commented on #648
We could just grab the ETH price from Chainlink. That way it won't go down on us. We're still dependent on Alchemy, but if they go down our app won't work anyway.

Here's their ETH price feed:
https://etherscan.io/address/0x5f4eC3Df9cbd43714FE2740f5E3616155c5b8419

https://docs.chain.link/docs/get-the-latest-price/

[2021-08-21 15:54] micahalcorn opened #649 "Ambiguous Transaction Route Comparison"
As a user, it's unclear to me in this example why Uniswap is not the best option. The "Est. received" is greater for Uniswap than it is for OUSD Swap and the "Effective price" appears to be the same since it's rounded off. I realize that the gas cost difference is what causes OUSD Swap to be the better option, but this requires some interpretation. Ideally, we would have another column showing the

[2021-08-21 16:09] micahalcorn opened #650 "Inaccurate Mix Breakdown"
37.34+55.9+29.53=122.77 (not 122.16 nor 121.55) 😕

<img width="628" alt="Screen Shot 2021-08-21 at 9 07 07 AM" src="https://user-images.githubusercontent.com/273937/130327987-be0b0e83-6b37-4f5d-9451-40bfdf7faa61.png">

[2021-08-21 16:20] micahalcorn opened #651 "Pending Transaction Sorting"
In this example, I submitted the DAI transaction first, followed by the USDC transaction, and then the USDT approval last. They should be sorted in the reverse order of what is shown here (USDT on top, DAI on bottom).

<img width="280" alt="Screen Shot 2021-08-21 at 9 18 03 AM" src="https://user-images.githubusercontent.com/273937/130328275-569fff1c-d8b7-4a6a-83b0-61b5003c6744.png">

[2021-08-21 16:29] micahalcorn opened #652 "Max Including Dust"
If I use the "Max" link, I expect all of that particular currency to be used. It's okay to truncate the input for display purposes, but the remainder should be included in the transaction so that I'm not left with some stablecoin dust.

[2021-08-21 16:41] micahalcorn opened #653 "No Estimate Received on Unsupported Contracts"
When a contract is "Unsupported", its corresponding "Est. received" should be "-" instead of "0.00" to match the other two columns.

<img width="617" alt="Screen Shot 2021-08-21 at 9 35 43 AM" src="https://user-images.githubusercontent.com/273937/130328751-1e87315c-a0ac-4c26-8e23-b5bd7ec973c0.png">

[2021-08-21 16:59] micahalcorn opened #654 "No DApp Support for redeemAll"
Unless I'm mistaken, the DApp no longer supports `redeemAll` after https://github.com/OriginProtocol/origin-dollar/pull/615. I would expect that function to be called if I click "Max" when swapping OUSD for the Mix via the vault. At our current rebase frequency, it's unlikely to result in a different outcome than `redeem` but this might change with more frequent rebases.

[2021-08-21 19:22] micahalcorn opened #655 "Number/Input Flipping UX"
There's one slight change I was recommending, but it's very minor. Currently, the bottom known value moves to the top when flipping (it follows the corresponding currency). But it also remains intact in the bottom field prior to the new calculation. I was expecting the top value to follow the flip and be moved into the bottom field. Again, it's not a big deal because the value will quickly be repl

[2021-08-21 19:37] micahalcorn opened #656 "Editable OUSD Input"
We've been discussing in various places whether or not both sides of the swap form should have editable dropdowns for the currency selection (notice that OUSD is fixed). The initial arguments for it were that (1) Uniswap allows the user to change the currency on either side of the equation and (2) it's not obvious that the arrow should be clicked to flip the elements. We addressed the latter by ma

[2021-08-21 19:53] micahalcorn opened #657 "Configurable Gas Price"
<img width="425" alt="Screen Shot 2021-08-21 at 12 51 49 PM" src="https://user-images.githubusercontent.com/273937/130333375-e6265776-862a-4eac-be68-b9928b7bf3bb.png">

<img width="679" alt="Screen Shot 2021-08-21 at 12 50 54 PM" src="https://user-images.githubusercontent.com/273937/130333379-108f3337-7eff-4d0c-91e6-213f8385cf4d.png">

[2021-08-21 19:58] micahalcorn opened #658 "Error Message Placement"
Per @auregimon, let's use the disabled button copy to communicate issues with the inputs rather than near the inputs themselves.

<img width="520" alt="Screen Shot 2021-08-21 at 12 55 06 PM" src="https://user-images.githubusercontent.com/273937/130333468-778208f6-4f30-4f59-8e09-4fd660987f2d.png">

vs

<img width="616" alt="Screen Shot 2021-08-21 at 12 56 52 PM" src="https://user-images.githubuserc

[2021-08-21 22:35] micahalcorn opened #659 "Contract Selection Override"
Make it possible for a user to choose which contract her transaction is routed through. She may already have an allowance granted for the Uniswap contract or she may trust it more than our contracts. In the event that the default selection is only slightly "better" than another option, it's reasonable to expect the user to want to switch to her preference and still submit the transaction through o

[2021-08-21 22:46] micahalcorn opened #660 "Approval/Swap Contract Mismatch"
We don't currently allow users to [override the default contract selection](https://github.com/OriginProtocol/origin-dollar/issues/659). However, I noticed when testing that there's an issue where the selection is not remembered between granting an allowance and submitting the transaction.

**Steps to reproduce**
- Have not granted DAI allowance to Uniswap
- Queue up a transaction involving a smal

[2021-08-21 22:56] micahalcorn commented on #660
I think this happens because the DApp reruns the calculation periodically. So it updates the selection while I'm waiting for the allowance to get approved. Basically, when refreshing the calculation, it should respect my selection (whether an allowance is in progress or not).

[2021-08-21 23:02] micahalcorn opened #661 "Two Decimals on Blur"
I would vote for updating this input field to "123.00" when the field is blurred. We allow up to six decimal places on the input field and we should _not_ round that down to two places. But I do think it's nice for each value to at least be that precise since we're dealing in USD terms.

<img width="611" alt="Screen Shot 2021-08-21 at 3 58 35 PM" src="https://user-images.githubusercontent.com/2739

[2021-08-21 23:09] micahalcorn commented on #650
Based on [a recent test transaction](https://etherscan.io/tx/0xbed7a1df35248511b6b9a37a429b7adc6403c3d2c2c2bfeb540f34c79ac6b96c), I'm fairly certain that it's the sum that is incorrect and the per-stablecoin amounts are accurate.

[2021-08-22 19:32] micahalcorn commented on #648
For what it's worth, this seems to be consistently reproducible only on a particular WiFi connection that I regularly use. I'm getting 157.3 Mbps download, 13.7 Mbps upload, and I haven't noticed any problems with any other websites. But every time I access the DApp from this router, it hangs for several minutes before timing out.

[2021-08-23 13:56] DanielVF opened #670 "Q: Fixed daily schedule for rebases?"
While allowing people to buy OUSD on exchanges is good, there's an even bigger expansion of possible user base for OUSD when users can earn yield while on the centralized exchange. In order for this to happen, the exchange must support a rebasing token.

Rebasing support isn't a trivial thing to add for an exchange that's not already designed for it. Current exchanges are fairly  ugly in the way t

[2021-08-23 16:53] joshfraser commented on #670
@coleman415 On the business front, it would be good for us to check in with some of the exchanges that have integrated AMPL to double-check that they actually prefer daily rebasing. Most of AMPL's trading volume comes from DEX's and we're already listed on KuCoin and VirgoX, but it would be worth asking the other exchanges that have integrated AMPL (FTX, Gate, Bitfinex, Flybit, and MEXC) whether h

[2021-08-23 17:01] joshfraser commented on #670
In an ideal world, the code would allow the rebase function to be called exactly once after midnight UTC and the exchanges would watch for that event to be fired as the signal that it's safe to update balances and restart trading. That way trading would stop for a few blocks instead of 10 mins.

I've been very impressed with the team at Chainlink and would love for us to deepen that relationship.

[2021-08-23 21:02] KurogeWashu commented on #670
I would think a reward system with a base amount and variable amount would be good to incentivize more active participants at triggering the rebases. This would help in the case that users want to redeem OUSD, but a rebase hasn't occurred, then a rebase would occur before the transfer occurs.
https://docs.makerdao.com/smart-contract-modules/dog-and-clipper-detailed-documentation#liquidation-incent

[2021-08-23 21:36] KurogeWashu commented on #670
To add onto the point of exchanges ultimately deciding on who owns the OUSD yield, this would further strengthen the argument of "not your keys, not your coins." Then this could encourage more users to withdraw and convert to on-chain active users.

[2021-08-24 13:01] sparrowDom commented on #576
Done

[2021-08-24 13:01] #576 closed

[2021-08-24 15:35] sparrowDom commented on #650
Fixed via: https://github.com/OriginProtocol/origin-dollar/pull/680

[2021-08-24 15:35] #650 closed

[2021-08-25 14:20] sparrowDom commented on #648
Done via: https://github.com/OriginProtocol/origin-dollar/pull/686

[2021-08-25 14:20] #648 closed

[2021-08-25 17:33] micahalcorn opened #687 "Network Switching Prompt"
As discovered by @franckc, DApps can initiate network switching. We may want to encourage a user to switch from Rinkeby to Mainnet, for example. However, unlike C.R.E.A.M.'s DApp, we should _not_ open a MetaMask prompt without first asking the user within the DApp interface. There should always be a direct connection between a user click and a MetaMask prompt.

<img width="353" alt="Screen_Shot_20

[2021-08-30 18:49] DanielVF opened #717 "Change DAPP APY to use trailing 30-day average"

[2021-08-31 05:43] KurogeWashu commented on #687
Decided a clickable button where it says "incorrect network" is most intuitive and least intrusive than adding directly into AccountListener.js

If there are other networks in addition to mainnet, like testnets, then I'd suggest individual buttons below "incorrect network" for each.

Also, being mindful of the red/green color-blind, a red dot is not informative enough that the network is incorrect

[2021-08-31 06:06] KurogeWashu commented on #687
Found another issue, currently the recent transactions section displays "Failed granting permission to move your OUSD" when an user attempts to create a transaction while on a wrong network. Should use this `import { isCorrectNetwork } from 'utils/web3'` before a tx is created, then popup the Network Switching Prompt. Will move the network prompt call into a helper function in util/web3.

[2021-09-01 00:39] micahalcorn opened #725 "Wrong Default Transaction Route"
As noted by @joshfraser in the staging environment, large numbers seem to cause the "worst" contract routing option to be chosen by default. In this example (from the production environment), the est received is significantly higher with Origin Vault than for Uniswap V3. While the gas estimate is also higher, it's not different enough to cause Uniswap to be the better option. When reproducing this

[2021-09-01 01:36] joshfraser commented on #725
Also worth noting that the effective price is completely wrong as well.

[2021-09-01 13:41] sparrowDom commented on #725
fixed via: https://github.com/OriginProtocol/origin-dollar/pull/727

[2021-09-01 13:45] #725 closed

[2021-09-01 19:06] sparrowDom opened #728 "Estimation liquidity check"
When selecting higher amounts than Uniswap or Curve available liquidity we should display an `Insufficient liquidity` error message instead of stopping the estimated price at available liquidity

<img width="643" alt="Screenshot 2021-09-01 at 21 04 38" src="https://user-images.githubusercontent.com/579910/131729227-e60661a7-b386-4327-9d46-af000521d280.png">

[2021-09-06 04:48] micahalcorn commented on #483
I was confused by this today when swapping with one of the AMM contracts. I suspect that [the original update](https://github.com/OriginProtocol/origin-dollar/issues/259) to handle dropped and replaced transactions only works with the Origin Vault transactions? If so, we should add the utility function, as you mentioned, to work with any transactions that go through the DApp.

[2021-09-06 08:53] sparrowDom commented on #687
That's a great idea. We don't focus heavily on other networks since it is deployed only to production. But still a nice to have.

[2021-09-06 09:46] #687 closed

[2021-09-06 14:58] micahalcorn opened #732 "Clarity Around ERC-20 Approval Step"
We often hear from users who are confused by not receiving OUSD after submitting the approval transaction. Many people are either not familiar with the allowance concept or they're submitting the form quickly without noticing that the approval and swap are two different steps. I think we can help with this by doing something more like Uniswap and SushiSwap where there is a clear "1-2" sequence sho

[2021-09-06 15:08] sparrowDom commented on #732
Nice UX improvement. If I had to vote, I would go for the Uniswap variant (a bit more user friendly for my eyes)

[2021-09-08 08:47] sparrowDom commented on #551
Designs have updated a bit since this ticket was created
<img width="1012" alt="Screenshot 2021-09-08 at 10 43 46" src="https://user-images.githubusercontent.com/579910/132476947-0b721d20-7b1b-488c-be9a-68b920c5ff03.png">

Imho costs are now pretty well described in transaction routing table. Should we repurpose this issue (or create a new one) for adding explanation question mark popovers in vari

[2021-09-08 18:43] micahalcorn commented on #551
@sparrowDom my primary concern here was the exit fee. Users should expect to have to pay for gas and they're well aware of how costly it can be when it's in their face. Our interface also does a good job of communicating the slippage or exchange rate loss (depending on the route). But it doesn't tell the user that they're going to be upside-down on the transaction for some period of time. See http

[2021-09-08 18:43] #551 closed

[2021-09-08 19:46] DanielVF opened #735 "Argent wallet auto-detect"
We currently automatically detect Gnosis safe wallets and prompt the user to enable yield. Currently Argent wallets aren't getting yield, and it's unclear to users how to enable it.

We should generalize the Gnosis detection to detect if the user's address is a contract, and then provide the same prompt / check as we do for Gnosis.

[2021-09-08 19:49] DanielVF opened #736 "Write docs on enabling yield in Argent using etherscan."
1. Etherscan OUSD
2. Contract
3. Contract
4. Write As Proxy
5. RebaseOptIn
6. Write

https://docs.ousd.com/v/en/core-concepts/elastic-supply/rebasing-and-smart-contracts

[2021-09-08 21:37] joshfraser commented on #735
Their app does not include an open web3 browser. We'll need to reach out to the Argent team about giving their users a button to opt-in after they receive OUSD in their wallets. They do have a limited selection of dapps that have custom integrations with their app. It would be great if they would include us there.

@coleman415 mind working on this?

[2021-09-09 09:53] sparrowDom commented on #627
done via: https://github.com/OriginProtocol/origin-dollar/pull/721

[2021-09-09 09:53] #627 closed

[2021-09-10 21:36] micahalcorn commented on #479
This issue also applies when a user swaps OUSD. For example...

 - Current balance of 100k OUSD
 - Next expected increase of 12.34
 - Swap 80k OUSD for DAI
 - Transaction confirmed
 - Current balance now 20k OUSD
 - Next expected increase still 12.34 (not true)

[2021-09-11 16:26] micahalcorn commented on #732
We might also want to incorporate the cost of allowance approval into the swap. For smaller amounts, it probably makes sense for some users to have their transactions routed through Uniswap instead of OUSD Swap even if the slippage or gas cost on the actual swap transaction is higher. We could also indicate on the table which contracts involve two transactions with some small icon.

[2021-09-11 20:55] joshfraser commented on #732
I like this idea. We could put a little tooltip on the icon explaining why they sometimes need to do 2 transactions.

[2021-09-12 18:40] micahalcorn opened #741 "Out of Gas on Allowance Approval"
We recently had a user whose `approve` call on the OUSD Swap contract [ran out of gas with a limit of 52,228](https://etherscan.io/tx/0xa1200775620dd186094c79a7e43cc64b9bc7f8c97f2e4e55e6e218e3b35f3e42) and then [succeeded with a limit of 60,760](https://etherscan.io/tx/0x72ce781242b14584f5bb20130e84d0ee7216a1cc481faecadf556d4df0672fae). I would be surprised if the user manually lowered the gas lim

[2021-09-13 13:24] sparrowDom commented on #732
+ 1. More transparency always seems like a good idea.

[2021-09-15 03:52] sentry-io[bot] opened #745 "Errors on Route Calculations"
Sentry Issue: [OUSD-D](https://sentry.io/organizations/origin-protocol/issues/1903895120/?referrer=github_integration)

[code]

[2021-09-15 04:05] micahalcorn commented on #745
[This](https://sentry.io/organizations/origin-protocol/issues/1903895120/events/a3be86bc7799412c84a22661adbde5ce/?project=5423988) was me just checking the swap options on a DAI>OUSD swap. I've seen this a few times but was never able to reproduce it consistently.

Here's what I remember doing:
- Type [ousd.com/swap](https://ousd.com/swap) into the browser (as opposed to navigating from the homepa

[2021-09-15 14:27] sparrowDom commented on #745
Fix for this issue: https://github.com/OriginProtocol/origin-dollar/pull/746

[2021-09-16 09:43] #661 closed

[2021-09-16 09:43] sparrowDom commented on #661
done via: https://github.com/OriginProtocol/origin-dollar/pull/737

[2021-09-16 10:01] sparrowDom commented on #660
done via: https://github.com/OriginProtocol/origin-dollar/pull/739

[2021-09-16 10:01] #660 closed

[2021-09-20 20:37] micahalcorn opened #752 "APY Discrepancy"
It looks like the analytics pages are consistently showing an APY four basis points lower than the DApp is. Perhaps there's some rounding difference in a calculation somewhere.

https://www.loom.com/share/aa812453de8c4f64a4effeca5bf7a4fa

[2021-09-23 16:02] #717 closed

[2021-09-23 16:03] sparrowDom commented on #659
Done

[2021-09-23 16:03] #659 closed

[2021-09-24 04:11] Michael1104Smith commented on #752
I tried to fix this issue but first of all, I should install this project into my local.
I can see some issues from it.
Can you install this project into your local?

[2021-09-24 09:38] Michael1104Smith commented on #752
I have fixed that issue.
old codes:        const apy = aprToApy(parseFloat(json.apr), 7)
new codes:      const apy = aprToApy(parseFloat(json.apr), 30)
and working

[2021-09-24 14:31] sparrowDom commented on #657
PR for this issue: https://github.com/OriginProtocol/origin-dollar/pull/758

[2021-09-24 14:59] micahalcorn commented on #732
Here's some guidance from @auregimon following the Uniswap style:

<img width="609" alt="Screen_Shot_2021-09-13_at_9 31 51_AM" src="https://user-images.githubusercontent.com/273937/134695367-bf7782fb-f19f-4bf0-9ba4-e9a864d98a6b.png">
<img width="603" alt="Screen_Shot_2021-09-13_at_9 31 56_AM" src="https://user-images.githubusercontent.com/273937/134695379-266826af-7fa2-4438-b3c1-22edbdddd9be.png">

[2021-09-27 11:05] sparrowDom commented on #555
Fixed via: https://github.com/OriginProtocol/origin-dollar/pull/759

[2021-09-27 11:08] #657 closed

[2021-09-28 08:16] Michael1104Smith commented on #658
What disable button do you mean?
So we should add numbers below input box?

[2021-09-28 08:21] Michael1104Smith commented on #652
Where is "Max" link?

[2021-09-28 14:34] micahalcorn commented on #652
<img width="169" alt="Screen Shot 2021-09-28 at 7 31 27 AM" src="https://user-images.githubusercontent.com/273937/135107999-d020df5d-373f-4a86-af3b-5f5a210e1bc9.png">

If I click "Max" and submit this transaction, it will swap 151.552942 DAI but my balance is currently 151.552942421692815265 DAI. I don't want to be left with 0.000000421692815265 DAI after the swap.

[2021-09-28 14:38] micahalcorn commented on #658
No, the disabled button in that screenshot reads "Swap". It should read "Insufficient Balance" and the red text should not appear. The button should also be full-width so that its width doesn't change each time the text changes.

[2021-09-29 07:40] Michael1104Smith commented on #658
I have done it and sent "pull" request.

[2021-09-29 07:45] Michael1104Smith commented on #652
I have done it and sent "commit" request.

[2021-09-29 08:55] Michael1104Smith commented on #503
Can you show me video or image for it?

[2021-09-30 14:26] sparrowDom opened #769 "Onchain analytics"
We need a system that is able to process the onchain analytics data that is already present in [ousd-analytics](https://github.com/OriginProtocol/ousd-analytics) to extract KPIs we are interested in. Event listener is already ingesting most (if not all) of the required events, we need a supplementing algorithm that will:
- be able to classify a transfer event as a swap / mint / redeem event
- be a

[2021-10-01 04:24] micahalcorn commented on #295
No longer supported 👎

[2021-10-01 04:24] #295 closed

[2021-10-05 20:57] tomlinton opened #776 "Rescue COMP from old Compound strategy"
0xD5433168Ed0B1F7714819646606DB509D9d8EC1f is owed some COMP from Compound but at the time of writing these are unclaimable due to a Compound bug. This strategy will be removed but we should go back later and try and rescue these funds (if they are of an amount that makes it worthwhile).

[2021-10-05 21:29] joshfraser commented on #776
https://api.compound.finance/api/v2/governance/comp/account?address=0xD5433168Ed0B1F7714819646606DB509D9d8EC1f

Looks like we have 8.84 COMP ($2,748.70 at today's value) waiting for us.

[2021-10-11 14:52] DanielVF commented on #776
[code]

[2021-10-11 14:54] DanielVF commented on #776
Ahh. The comp transfer cancelation is because we are collecting on all markets, which includes the bugged markets. We can probably collect by just asking for our comp on the markets we are using.

[2021-10-11 15:02] DanielVF commented on #776
Nope, still zeros out the transfer.

[2021-10-25 04:32] micahalcorn opened #792 "Error: cannot estimate gas"
I saw this error when attempting to swap from the modal after approving the Curve contract for the first time. For some reason, I can't find a corresponding error in Sentry.

[ousd.com-1635136024489.log](https://github.com/OriginProtocol/origin-dollar/files/7407210/ousd.com-1635136024489.log)

[2021-11-05 15:35] sparrowDom commented on #792
Fixes the issue: https://github.com/OriginProtocol/origin-dollar/pull/810

[2021-11-08 04:03] #776 closed

[2021-11-10 13:46] micahalcorn opened #813 "Lifetime Earnings Miscalculation"
My account's lifetime earnings should be something in the neighborhood of 6,300 OUSD. I just recently [swapped 123,777 USDT for OUSD using Curve](https://etherscan.io/tx/0x6cef11066b5b15fdc417fbc99eca7c2589f67ec649a7b650b2cd5cb1301f22c1), and now [my lifetime earnings are showing as 130,367](https://analytics.ousd.com/address/0x96feb7b6f808dd2bbd09c9e5ccde77cabd58d019). So I think the calculation

[2021-11-11 05:42] franckc commented on #569
I don't think this is an issue anymore. Closing.

[2021-11-11 05:42] #569 closed

[2021-11-11 16:32] sparrowDom opened #815 "Brave unstaking"
User has reported that they can not unstake using brave:
Just reporting an issue trying to unstake OGN from ousd.com/stake.  Metamask + Brave didn't work, but Metamask + Chrome did work

<img width="1107" alt="Screenshot 2021-11-11 at 17 32 02" src="https://user-images.githubusercontent.com/579910/141334109-cc05627a-e423-4254-a1f3-c5c59ef29750.png">

[2021-11-11 17:01] micahalcorn commented on #815
I'll be happy to try and reproduce this in a year when my stake matures. ⏳

[2021-11-13 16:52] micahalcorn opened #820 "Keeper Monitoring"
Alert ourselves (in Discord and email?) under the following circumstances:

- [ ] LINK balance gets too low and needs to be topped up
- [ ] Keeper runs more than once per day
- [ ] Keer fails to run within the required time period on a given day
- [ ] A Keeper transaction fails

[2021-11-13 16:56] micahalcorn opened #821 "Gas-Efficient Harvest"
@DanielVF suggested that we may be able to improve the gas efficiency of our harvest function. If we can get the cost to be low enough, we might be able to include this in our Upkeep along with rebase and smooth out our APY.

[2021-11-13 17:24] micahalcorn opened #822 "Transaction History Pagination"
Limit the initial display to the most recent 50 transactions. For the pagination behavior, we should probably go with whatever is easiest and quickest to implement (maybe an off-the-shelf library). My preference would be to have an explicit button rather than infinite scroll so that the footer remains accessible. I would also vote for just appending the next 50 rows rather than navigating from pag

[2021-11-16 04:29] joshfraser opened #823 "Some data not reset when wallet is disconnected"
Disconnecting your wallet in MetaMask resets your balance, but not your pending yield or lifetime earnings

<img width="1006" alt="Screen Shot 2021-11-15 at 11 27 41 PM" src="https://user-images.githubusercontent.com/982234/141918531-b53aeaa5-12f0-44a2-b477-1605ba22d609.png">

[2021-11-16 04:34] joshfraser commented on #458
Bumping this up to a P1, especially now that a large percentage of our target users are going to be Ledger users.

[2021-11-16 04:35] joshfraser opened #824 "Gnosis Safe Icon broken on connect modal"
<img width="377" alt="Screen Shot 2021-11-15 at 11 35 07 PM" src="https://user-images.githubusercontent.com/982234/141921628-38d8a5b5-44f0-4fa7-80da-940bcf75a956.png">

[2021-11-16 20:37] joshfraser opened #825 "Add conversion pixels"
As we increase our paid marketing efforts, we'll want to be able to track our performance. @sparrowDom can you set this conversion pixel to fire after someone mints some OUSD?

[code]

We'll also want to pass along how much they minted:

[code]

Here's the code for Twitter:

[code]

[2021-11-16 22:41] sparrowDom commented on #825
Done via this commit: https://github.com/OriginProtocol/origin-dollar/pull/811/commits/cfd64d0c4b3c6aa3fa5c5af7f7fd02e2893be29e

deploying it now

[2021-11-16 22:41] #825 closed

[2021-11-16 23:05] joshfraser commented on #825
thank you ser

[2021-11-16 23:22] joshfraser commented on #825
@sparrowDom Sorry, I should have been more careful with my language. We actually want this to fire on any swap into OUSD, regardless of whether new OUSD is minted or not. 🤦‍♂️

[2021-11-17 11:42] sparrowDom commented on #825
Yup that is how it is configured right now. Whichever swap into OUSD. For legacy reasons we still call that type of transaction a `mint`.... but will fire even with Uniswap and other contracts.

[2021-11-17 12:18] sparrowDom commented on #822
hey sorry have sort of implemented a basic pagination before reading this ticket. Currently there are classic buttons at the bottom of the page - opposed to infinite scroll loading.

With infinite items loading, I am worried that it might slow down the browser if user would want to load the whole history - to the 60th page for example.

[2021-11-17 14:40] micahalcorn commented on #822
Yeah, I think what you've done is great for now. My only complaint with the traditional pages is that I can't see the 10th transaction alongside the 11th transaction. But pages have benefits too, like the ability to jump to the oldest transaction with one click. Would it make sense to increase the number per page from 10 to say 50 or 100? When there are a bunch of rebases per day, I might not be a

[2021-11-18 13:14] sparrowDom commented on #822
good point, let me increase it to 50. Closing this ticket for now... feel free to reopen if there are more things you would want to revisit

[2021-11-18 13:14] #822 closed

[2021-11-21 09:06] sparrowDom commented on #483
Yup that is right, it only subscribes to Origin Vault events right now

[2021-11-22 14:40] #813 closed

[2021-11-23 16:13] #299 closed

[2021-11-23 16:19] DanielVF commented on #299
👋 @ @fxfactorial

[2021-11-23 18:04] eulerbeat commented on #824
May I know where this dialog is from? I am facing a different one when connecting a wallet.

[2021-11-25 04:14] micahalcorn opened #833 "Transaction History Timestamps"
Today, I found myself wanting to know when a particular yield event occurred. I can click through to Etherscan, but it would also be nice to be able to see the times and not just the dates on the historical events. This is particularly relevant when there are multiple rebases within a given day. And even though I can get the details from Etherscan, I have to convert UTC to my local timezone.

[2021-11-25 15:19] sentry-io[bot] opened #834 "TypeError: Failed to fetch"
Sentry Issue: [OUSD-QC](https://sentry.io/organizations/origin-protocol/issues/2800623827/?referrer=github_integration)

[code]

[2021-11-25 15:20] micahalcorn commented on #834
I get this intermittently when trying to load the history page.

<img width="1440" alt="Screen Shot 2021-11-25 at 7 16 31 AM" src="https://user-images.githubusercontent.com/273937/143466976-de8f13e3-7f50-46ef-a75f-50696a41bb1f.png">

[2021-11-25 17:00] micahalcorn opened #835 "Mint w/Strategy Tokens"
<img width="868" alt="Screen Shot 2021-11-25 at 8 55 09 AM" src="https://user-images.githubusercontent.com/273937/143479668-3140d89e-8c42-42d4-9113-85d4b7230349.png">

[2021-11-25 17:09] micahalcorn opened #836 "Swap w/Strategy Tokens"
<img width="868" alt="Screen Shot 2021-11-25 at 8 55 09 AM" src="https://user-images.githubusercontent.com/273937/143479668-3140d89e-8c42-42d4-9113-85d4b7230349.png">

[2021-11-25 17:12] micahalcorn commented on #835
Duplicate due to poor connection 👯‍♂️

[2021-11-25 17:12] #835 closed

[2021-11-28 07:06] calvintoes commented on #480
https://github.com/OriginProtocol/origin-dollar/pull/837

[2021-11-28 16:15] micahalcorn commented on #634
Now that Coinbase Wallet has a browser extension, we can treat it just like we do MetaMask. I've updated the preceding comment accordingly.

One issue, however, is that both MetaMask and Coinbase Wallet prompts will appear if both are installed and a user clicks "MetaMask" **or** "Coinnbase Wallet". If there's a way to treat them differently, that would be a bonus. I don't think it's a big deal th

[2021-11-28 16:57] joshfraser commented on #634
It might be worth figuring out how we can support Brave wallet while we're at it.

[2021-11-28 17:07] micahalcorn commented on #634
Brave's built-in wallet works for me out of the box. It's the same concern that we have with Coinbase right now. You just click the MetaMask button and the same connector works. We might be able to identify that it's Brave's MetaMask fork rather than the browser extension and show a different button in that case. But it may get messy because Brave also has a config option for choosing whether to u

[2021-11-28 22:18] calvintoes commented on #634
https://github.com/OriginProtocol/origin-dollar/pull/838

[2021-11-29 17:15] micahalcorn opened #840 "Brave Wallet Connection"
In #634, I mentioned that the built-in Brave wallet works out of the box with our injected connector (same for MetaMask and Coinbase Wallet) but I didn't know if there was a way to distinguish the built-in wallet from a MetaMask extension installed in the Brave Browser.

Similarly, @calvintoes mentioned in #838 that the built-in Brave wallet works via Wallet Link as well. I'm not sure if they dist

[2021-11-29 17:43] calvintoes commented on #840
Slight misunderstanding. I tried Brave wallet out of the box (and connected using MM) because I thought it was just another MM wallet. Did not know it was a separate thing.

I did not try it with WalletLink. I only tried it with the injected connector.

[2021-11-29 18:32] micahalcorn opened #841 "Aave Supply Alerts"
@mikeshultz is going to disable the supply alerts that we currently have for Aave v1 in our Discord **#ousd-bot** channel. We will want to add the alerts back once we're monitoring Aave v2.

[2021-11-29 18:33] mikeshultz commented on #841
Specifically, we'll want to add v2 snapshotting, review any other events we might find of interest, and reenable the supply/borrow notifications.

Ref: https://github.com/OriginProtocol/ousd-analytics/pull/172

[2021-12-01 07:25] micahalcorn commented on #480
I love seeing this fix. 😁

[2021-12-01 07:25] #480 closed

[2021-12-01 12:14] sparrowDom opened #845 "additional Ledger UX improvements"
Ledger hardware wallet has multiple ways of loading accounts, and different sets of users use different types. This is somewhat annoying since Ledger users usually don't know what is their specific `derivation path`. This is a screen where users can pick their derivation paths:

<img width="374" alt="Screenshot 2021-12-01 at 12 29 30" src="https://user-images.githubusercontent.com/579910/144232133

[2021-12-01 18:13] joshfraser commented on #845
I think I'd prefer to go straight to the list of accounts and add 3 pills at the top that let your toggle between the different derivation paths. If we can query fast enough, we should auto-select the pill that matches the first wallet we discover that is holding a non-zero balance, but you can manually override that and switch to another derivation path. If we have to choose a default, Ledger Liv

[2021-12-02 06:34] sparrowDom opened #846 "Analytics dashboard"
See if we can draw the following things with Dune analytics. (put together in DM by @micahalcorn ):

Two big graphs front and center:

1) APY - basically the numbers from https://analytics.ousd.com/apy graphed with days on the x axis and percentage on the y axis. It would be nice to have a 30-day moving average overlaying it. Bonus would be to change the moving average with a select element as Jos

[2021-12-02 10:28] sparrowDom commented on #845
I like it, this way you don't need to restart the login flow to change the derivation path. Have written to Aure if he can help mock this up

[2021-12-03 07:18] micahalcorn opened #847 "Analytics Delay"
Not a big deal, but I happened to be looking at the DApp when the most recent rebase occurred. My balance updated along with the pending yield, but the transaction history did not match and it was missing the rebase transaction for about ten minutes. The same was true for our bot in Discord. That may be expected, it just wasn't ideal.

[2021-12-03 11:58] sparrowDom opened #848 "Lifetime earnings"
Some accounts have lifetime earnings off. Inspect this page:
https://analytics.ousd.com/address/{address}.

Not posting the actual address as to not partly dox accounts

[2021-12-03 15:23] micahalcorn commented on #848
Mine is suddenly correct today. 😐

[2021-12-04 07:01] micahalcorn opened #851 "Minor Improvements to Disconnected DApp State"
I couple of small things, one probably not controversial, and the other opinionated:

1) The numbers above Pending yield should match what's above Balance and Lifetime earnings when there's no account connected ("--.--" vs "0.00").

2) At least a couple of us would prefer that "History" always be present in the nav rather than being conditioned based on the account connection state. As a frequent

[2021-12-04 07:35] #577 closed

[2021-12-09 17:37] sparrowDom commented on #846
Done via: https://dune.xyz/sparrow/OUSD-Analytics

[2021-12-09 17:37] #846 closed

[2021-12-09 18:46] velopace commented on #851
Fixed the issue: https://github.com/OriginProtocol/origin-dollar/pull/852

[2021-12-11 04:03] #458 closed

[2021-12-11 04:16] micahalcorn commented on #590
I think this is done now.

[2021-12-11 04:16] #590 closed

[2021-12-13 21:18] micahalcorn opened #857 "Multiple Reward Token Harvesting"
Make it possible for strategies to sell more than one type of reward token. This will be used initially for our Convex strategy, which earns CRV and CVX but is currently limited to harvesting CRV only.

[2021-12-14 11:29] velopace commented on #833
Fixed the issue: https://github.com/OriginProtocol/origin-dollar/pull/859

[2021-12-14 11:34] #833 closed

[2021-12-14 16:50] #851 closed

[2021-12-15 04:23] micahalcorn commented on #851
Thanks for this. 👍

[2021-12-15 23:44] #62 closed

[2021-12-16 06:20] micahalcorn commented on #769
Closing this for now 👏

[2021-12-16 06:20] #769 closed

[2021-12-16 06:35] #635 closed

[2021-12-16 06:37] #567 closed

[2021-12-16 06:38] #91 closed

[2021-12-16 07:14] sparrowDom commented on #848
Lets close this for now and revisit if it misbehaves again

[2021-12-16 07:14] #848 closed

[2021-12-16 22:09] soft2dev commented on #732
Would you share a tooltip message example as well, if you have any idea?

[2021-12-17 01:08] micahalcorn commented on #732
For the one on that button:

The name and token should be dynamic based on which contract the transaction is being routed through and which input currency requires approval. So an example would be "Uniswap" and "DAI".

[2021-12-17 01:17] micahalcorn opened #864 "Allowance-Aware Cost Estimates"
As discussed in https://github.com/OriginProtocol/origin-dollar/issues/732#issuecomment-917434051, we should update the transaction routing calculator to include the cost of allowances.

**Scenario**
As an avid Curve user, I have already granted allowances for their contracts to move my DAI, USDC, and USDT and I have not done the same for Uniswap. If I come to the DApp for the first time and want

[2021-12-17 16:49] sparrowDom opened #865 "Improve connecting wallet UX on mobile"
This is still in a suggestion / work in progress phase type of issue:

Visiting ousd.com from a mobile browser can be confusing. Wallet connection options and error messages when connecting the not supported wallets. If we were to copy Uniswap's approach we would:

- show only the Wallet connect option when visiting with a mobile browser (No ledger / Metamask options)
- autoconnect to a wallet if

[2021-12-17 16:59] micahalcorn commented on #865
In my experience, MetaMask and Coinbase Wallet already skip the modal in their mobile browsers. So I don't think we would need to change anything there. I was also surprised to see that WalletConnect already works quite well from mobile Safari.

[2021-12-17 17:02] micahalcorn commented on #865
Another option is to leave the buttons intact on mobile and just link to each vendor if there is no web3 on the window. So, for example, the MetaMask button would point to https://metamask.io in mobile Safari.

[2021-12-21 13:04] soft2dev commented on #732
@micahalcorn when the currently selected swap path & coin don't have enough allowance, Allow button should be hidden or disabled?

[2021-12-21 13:48] sparrowDom commented on #732
Hey sorry for not outlining the states in more verbose manner. Here is the expected behaviour and will let @micahalcorn correct me if needed:

- Empty input state (no swap coin amount or swap amount is 0 and no swap path selected) -> show only disabled Swap button
- Loading state: beast swap route is being determined -> show only disabled Swap button
- Swap routes calculated and best route selecte

[2021-12-21 17:01] micahalcorn commented on #732
Thanks @sparrowDom 👍 Here are a couple of comments:

This wouldn't strictly be the case since we wouldn't want the button to disappear immediately after an approval transaction is submitted and confirmed.

I don't love the idea of a button being enabled but it not doing anything when clicked. But we also don't want it to be as ghosted as those disabled grey buttons. I suppose it's fine to keep the

[2021-12-21 17:05] micahalcorn commented on #732
@sparrowDom @soft2dev I also wouldn't mind simplifying this and leaving the button text alone while we still have the info feed on the right redundantly showing the in-progress transactions (as I mentioned above). It's not the worst thing to be able to see what the top button is for after submitting the approval transaction. With the text changing, you lose that context.

[2021-12-22 11:54] soft2dev commented on #732
@sparrowDom Is there anything to be updated in the scenario?

[2021-12-27 05:49] micahalcorn commented on #732
Were you still working on this project? I didn't quite understand your question for @sparrowDom and didn't know what else you needed to clarify.

[2022-01-03 20:32] joshfraser opened #871 "Use multisend on Gnosis app"
Our DApp currently block swaps from being queued up until the ERC20 approval has gone through. This is fine for EOA wallets but is quite painful on a multi-sig, where you need to go around up additional signers. You end up with 4 painful steps:

1. Queue up the approval
2. Go round up your cosigners to sign off on the approval
3. Queue up the swap
4. Go round up your cosigners again

We should cop

[2022-01-03 20:52] micahalcorn commented on #823
I had the opposite experience today: my balance remained but the other two numbers were removed.

[2022-01-03 20:53] micahalcorn commented on #821
Considering this done 👨‍🌾

[2022-01-03 20:53] #821 closed

[2022-01-03 20:55] micahalcorn commented on #820
@joshfraser I think we were talking about retaining the Keepers as a fallback in the event that no one triggers the decentralized rebase or harvest, correct? So I think this project is still worthwhile and might need to be expanded to include monitoring of the new decentralized triggers if those aren't already covered naturally by our existing monitoring.

[2022-01-03 21:58] micahalcorn commented on #623
Done 📈

[2022-01-03 21:58] #623 closed

[2022-01-03 22:05] micahalcorn opened #872 "Decentralized On-Chain Governance Contracts"
?

[2022-01-03 22:06] micahalcorn opened #873 "Decentralized On-Chain Governance Frontend"
?

[2022-01-03 22:08] micahalcorn opened #874 "Automated DApp Deployments"
As suggested by @sparrowDom ⚙️ In the scope of this ticket we want to achieve:
- (semi) automatic deployment of the dapp to IPFS
- automatic deployment of the dapp by pushing to a `stable` branch
- show this prompt in Brave browser:
<img width="793" alt="Screen_Shot_2022-02-18_at_11 05 33_AM" src="https://user-images.githubusercontent.com/579910/154738904-9446e059-9256-4f80-966c-b2841d64532b.png">

[2022-01-03 22:10] micahalcorn opened #875 "Decentralized Harvest Triggers"
Provide an incentive for anyone to trigger the yield realization and receive a reward in return. We'll need to decide how much of an interface we want to create for this and where to put it. This will also involve moving the harvest logic out of the vault.

[2022-01-04 01:40] joshfraser commented on #820
I'd love for the keepers to trigger the code if the bounty is large enough for them to self-fund the cost of execution. Ideally, the code would automatically swap the bounty into LINK and deposit the funds directly into the keeper to create a perpetual motion machine.

[2022-01-04 16:40] DanielVF opened #876 "OUSD wrapper contract"
We have had several requests for an OUSD wrapper contract. This would provide a non-rebasing version of OUSD that keeps a fixed quantity without rebasing, and yet can be unwrapped to get an ever increasing amount of OUSD.

1. Tax benefits and simplifications. It is possible that in some jurisdictions, each rebase creates a separate taxable event. Also, by wrapping, in certain jurisdictions, yield

[2022-01-04 16:58] DanielVF commented on #876
Wrapped-AMPL:

- https://github.com/ampleforth/ampleforth-contracts/blob/master/contracts/WAMPL.sol

[2022-01-04 19:16] DanielVF commented on #876
Contract that can wrap ERC20's without an intermediate approval step.
* https://github.com/alcueca/ERC20Wrapper/blob/main/contracts/ERC20Wrapper.sol

[2022-01-04 19:23] DanielVF commented on #876
OHM wrapper. Bit too complicated:

- https://etherscan.io/address/0x0ab87046fBb341D058F17CBC4c1133F25a20a52f#code

[2022-01-04 21:16] joshfraser commented on #876
I'm not necessarily opposed, but the biggest potential downside I see is splintering our liquidity. Our top preference is for exchanges to just list OUSD. It's also a ton of work to get a new token integrated everywhere (wallets, exchanges, etc).

[2022-01-05 00:07] sparrowDom opened #877 "Separate harvesting into a separate contract"
Main thing to accomplish is to separate the harvesting logic into a separate contract from the VaultAdmin contract.  There are security benefits to this, since this will greatly decrease the frequency at which we upgrade the Vault contract. Other things that need to be achieved in this issue:
- make harvestAndSwap publicly callable function that anyone can call. Caller gets 1% of the rebase value.

[2022-01-10 17:57] DanielVF opened #878 "Deploy lower gas Compound strategy"

[2022-01-10 22:22] sparrowDom commented on #876
If I get this correctly this proposal wraps the 1 OUSD to 1 wOUSD. And redeems it 1 for 1 as well? Opting out of rebasing profits while the token is wrapped.

Or was the idea that the wrapping contracts opts in for rebases, wraps the token, and once the user unwraps it effectively catches up on all of the rebases that have happened in the meantime while the token was wrapped.

[2022-01-11 04:32] joshfraser commented on #876
@sparrowDom the latter, I believe. Interesting to look at wAMPL which is trading at $14.48 vs. AMPL at $0.74 right now.

https://www.coingecko.com/en/coins/ampleforth
https://www.coingecko.com/en/coins/wrapped-ampleforth

[2022-01-11 15:21] DanielVF commented on #876
The idea is that you should end up with the same amount of OUSD  in your wallet if you just hold OUSD or if you:

- Wrap OUSD to wOUSD
- Rebases happen
- Unwrap wOUSD

If we had made a wOUSD at the start of OUSD, 1 wOUSD should unwrap to 1.22 OUSD.

[2022-01-11 17:58] joshfraser opened #879 "Stream rewards from harvests"
We should consider [copying Convex](https://docs.convexfinance.com/convexfinance/faq/platform-rewards-current-vs-projected-apy) and stream the yield from harvests over 7 days. Basically, we would total up the reward token sales for the week, then evenly split them over the next week with our daily rebases. This would help smooth out the daily APY and make it harder for people to front-run any big

[2022-01-11 18:30] sparrowDom commented on #879
I like it definitely an improvement.

Another thing I am thinking, should we "cap" the amount of yield to a specific percentage? Let's say 20%? This way if there are daily/weekly yields higher than the cap the surplus would be stored and released in times of weaker APY.

The goal to achieve would be that higher yield weeks / months would build up the reserves for more bearish times.

[2022-01-11 19:18] joshfraser commented on #879
I'm always reticent to commit to any specific APY.  We're entirely at the mercy of macro conditions and I never want to give people the false impression that we're not.

If we were to implement a reserve, it would be nice to have it automatically adjust base on historical APYs instead of a fixed number. That might be too tricky or expensive to implement in a smart contract, but it makes a lot more

[2022-01-11 21:43] DanielVF commented on #879
We could put a dripper contract between the seller contract and the vault.

The seller would turn funds into USDT, then send to the dripper. The dripper only has to deal with USDT. When the vault rebases, it would ask the dripper for all the unlocked funds.

When we calcuate the "next rebase" in the UI, or in analytics, we also use the unlocked funds from the dripper. Since some funds unlock every

[2022-01-11 23:21] joshfraser commented on #879
Wouldn't it be better if we deployed the funds right away and only the balance increases were delayed?

[2022-01-12 00:43] DanielVF commented on #879
It would be better, but it's going to small in the grand scheme of things. Let's say our raw yield is 10% of total, we delay that by 1/100 of a year (half a week delay on average) so that 1/1,000 doesn't earn 10% yield, so that would make 1/10,000 a difference in the total yield.

Or did I get something wrong in there. :D

[2022-01-12 01:57] joshfraser commented on #879
There could also be gas savings from moving the funds into an earning strategy 1 time instead of 7 times, no?

[2022-01-12 02:55] DanielVF commented on #879
Yeah, could be gas savings there.

[2022-01-12 04:46] micahalcorn commented on #879
What happens when rebase is called outside of the daily schedule? Do we count the blocks since the last rebase and determine the amount of split based on how many blocks are expected within the rolling period (7 days)?

[2022-01-12 08:35] sparrowDom commented on #879
Agreed it would probably increase confusion too much.

It makes sense separating "dripper" logic from the vault, especially if we are going to change it often. Then again might make sense to measure what is the gas impact of that separation.

[2022-01-12 14:34] sparrowDom commented on #876
Cool that makes sense.

Don't completely have the details down, but I imagine one way this could work on another chain besides having an ERC20 wOUSD that would be part of the cross chain bridge, there would possibly be another ERC20 OUSD contract (on that other chain) that would be sort of an interface to the wOUSD contract. Users would be doing ERC20 OUSD operations and under the hood that would

[2022-01-12 18:03] joshfraser commented on #879
Gas costs are a major consideration. The Convex smart contracts have a lot of nice features, but they are quite expensive to run. Maybe there's a "dumb but cheap" way to do this?

[2022-01-12 18:50] DanielVF commented on #879
<img width="696" alt="image" src="https://user-images.githubusercontent.com/837/149203342-f7d33faa-4e0f-47c6-9fc3-343fe56c18b6.png">

[2022-01-13 15:45] sparrowDom opened #880 "Support Uniswap V3 for reward token swapping"
Once https://github.com/OriginProtocol/origin-dollar/issues/877  is done we want to add a possibility to swap the reward tokens by using UniswapV3. Because of concentrated liquidity and sometimes larger liquidity pools it should in some cases result in lower slippage. See [liquidity research here](https://vote.originprotocol.com/#/proposal/0x5f2d4819c99660e8b0c5308aa1fbe0fcd37c07bdbf38f86274a5073f

[2022-01-13 21:19] joshfraser commented on #15
Might be worth trying to get 1inch to integrate our swap contract and vault though.

[2022-01-14 16:09] DanielVF commented on #878
Code deployed, saving $450 three times a week, docs updated, and we are done here!

[2022-01-14 16:09] #878 closed

[2022-01-14 16:17] DanielVF commented on #876
The new standard for tokenized vaults might be handy to use:

https://eips.ethereum.org/EIPS/eip-4626

In fact, a reference implementation might just work off the shelf.

https://github.com/Rari-Capital/solmate/pull/88

[2022-01-15 05:38] franckc commented on #634
For the record, draft PR #838 could be useful starting point to look for the whoever works on this issue...

[2022-01-16 22:47] sparrowDom commented on #519
Will be done once this: https://github.com/OriginProtocol/origin-dollar/pull/869 gets merged in

[2022-01-17 08:07] tomlinton opened #882 "On chain governance abstain option"
Do we want to support an abstain option for on chain governance contracts? Governor Bravo does so I'd prefer not to modify it. I'm raising it to see if there are any strong objections though.

[2022-01-17 08:14] tomlinton opened #883 "On chain governance proposal discussion"
There are a couple of options I can think of here:

1. The proposer creates a thread in a forum/Discord channel that references the proposal number with the justification for the proposal and discussion happens there. The governance UI does not include any of this.
2. Store an on chain link to an IPFS hash that describes the proposal in something like Markdown. Discussions of these proposals then

[2022-01-17 08:14] tomlinton commented on #872
Couple of things to resolve in https://github.com/OriginProtocol/origin-dollar/issues/883 and https://github.com/OriginProtocol/origin-dollar/issues/882

[2022-01-17 14:42] DanielVF opened #884 "Reduce Redeem fee to 0.25%"
Per community governance vote, the redeem fee for OUSD is reducing to 0.25%:

https://snapshot.org/#/origingov.eth/proposal/0xb9adb14305e6ab2806aa1dc8f79d7a7ea576a9bc1e9c65dfd83017a997866db6

- [x] Fork test fee reduction
- [x] Create main multi-sig proposal (as 22)
- [x] Queue main multi-sig proposal (queue 22 on 0x72426BA137DEC62657306b12B1E869d43FeC6eC7)
- [x] Execute main multi-sig proposal (e

[2022-01-17 15:09] DanielVF opened #885 "OUSD Strategy Allocation for Week of Jan 10, 2022"
Strategist allocations per community governance vote:

https://snapshot.org/#/origingov.eth/proposal/0x7b377e29c8eab9b54b405be58147240b399621649eb23c9632380ec64bfd827f

- [x] Fork test
- [x]  Create main multi-sig proposal (as 23)
- [x]  Queue main multi-sig proposal (queue 23 on 0x72426BA137DEC62657306b12B1E869d43FeC6eC7)
- [x] Update analytics to check AAVE for USDT
- [x]  Execute main multi-sig

[2022-01-17 17:20] DanielVF commented on #882
I'm good keeping it in.

[2022-01-17 17:24] DanielVF commented on #883
I strongly think we should not have a fully on chain discussion forum. :)

I do however, think that it is good to have the title, rationale, and some text for proposals in the UI for working with the proposals. (as well as displaying the actual on-chain actions that would take place.)

Full markdown scares me a bit - maybe we can find a library that trims it down to only headings and links, and th

[2022-01-17 18:49] tomlinton opened #886 "Governance vote locking parameters"
We need to determine the vote locking parameters for governance.

- From previous discussions I think we may have settled on 4 years as the maximum lock time.
- Allow EOAs only. Contracts need to be whitelisted.

Open questions

- Boost of vote locking at maximum vs unlocked.  I'll investigate what kind of curve other projects use. Default to whatever Curve uses.
- Do we want early unlocks of lock

[2022-01-17 20:21] joshfraser commented on #883
+1 for option 2.

Proposals should be text-based and I don't think there's any reason to allow much more than links and perhaps headings/bold/italics.

[2022-01-17 20:22] joshfraser commented on #882
No objections.

[2022-01-18 12:19] sparrowDom commented on #882
See no downsides. Maybe a slight upside where we get information that some portion of wallets were willing to vote but for some reason haven't made up their mind in which direction.

[2022-01-18 13:03] sparrowDom commented on #886
Having a contract whitelist should be a strong deterrent for wrapping a voting token -> as long as we also support removing of the whitelisted contracts. Since un-whitelisting a contract could cause a disaster for the contract that has wrapped the token.

On the other hand if we do not support removing of whitelisted addresses that should remove risks for the wrapped token. In this case the whitel

[2022-01-18 19:12] joshfraser commented on #886
Frax is an interesting case study. They copied the veToken model but initially only allowed EOA's and whitelisted smart contracts to vote-lock. Then they did a 180 and partnered with Convex! The short-term benefits are undeniable. Whether they risk losing control over their protocol long-term as a result is another question.

https://frax.convexfinance.com/
https://convexfinance.medium.com/decembe

[2022-01-20 18:30] micahalcorn opened #887 "IPFS Deployment"
When the DApp is deployed, it should also be published to IPFS so that it's accessible even if our hosted version is not.

[2022-01-20 18:37] #884 closed

[2022-01-21 17:08] #885 closed

[2022-01-23 22:19] tomlinton commented on #886
Initial parameters I'm working with are:

Max lock time: 4 years
Min lock time: 1 week
Boost: 4x for max lock time

With vote power decaying linearly over the lifetime of the lockup.

I'm working with the OpenZeppelin [ERC20Votes contract](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/v4.4.0/contracts/token/ERC20/extensions/ERC20Votes.sol) and modifying it to support lockups, which s

[2022-01-24 19:25] franckc opened #889 "Support delegation for Snapshot voting"
The goal is to add support for [delegation](https://docs.snapshot.org/guides/delegation) to our [snapshot](https://snapshot.org/#/origingov.eth).

We wrote a [custom plugin](https://github.com/snapshot-labs/snapshot-strategies/blob/master/src/strategies/ogn/index.ts) for snapshot that looks at an average OGN and Staked OGN balance in the last 30 days.

It's important to note that a plugin must not

[2022-01-24 19:42] sparrowDom opened #890 "1% Harvester reward split: Do we rebase?"
The main question is do we rebase when calling harvestAndSwap or not? (pertains to this PR: https://github.com/OriginProtocol/origin-dollar/pull/869)

We have started this discussion on Discord and most of the participants were for the option of leaving rebase out of the new Harvesting contract `harvestAndSwap` function that will be publicly callable.

Things to consider:
- calling rebase is fairl

[2022-01-24 19:53] tomlinton commented on #890
I like keeping them separate and figuring out how we incentivise the call of each. I've always found threshold based things a little bit awkward and hard to reason about (I've put several in over time I think 🤣).

Having said that, I haven't figured out a good way to incentivise rebase calls beyond using a Keeper.

[2022-01-24 20:02] joshfraser commented on #890
My vote is to leave it out for now, but for us to keep an open mind towards adding it back later if needed.

[2022-01-24 20:06] micahalcorn commented on #890
I assumed we would introduce a similar incentive for calling rebase but that was a little hand-wavy. I would vote for separating the two concerns since the harvesters aren't necessarily going to be OUSD holders. But I also agree that we should be open to reintroducing the rebase in the future. It could potentially be an option for the caller to get a greater incentive or we might decide to force i

[2022-01-24 20:10] DanielVF commented on #890
I currently favor disconnecting rebasing from harvesting. It roughly doubles our cost for selling reward tokens. Reducing slippage would be on top of that. I don't think there's much user value to more than daily rebases. If our rebases were cheap, I'd go for rebases with harvest. But they aren't cheap.

Currently we are rebasing once a day. If we disconnect the harvesting from the rebasing, we'll

[2022-01-24 20:57] sparrowDom commented on #890
Ok leaving it out for now until we can get to a solution that is more favourable. Thanks everyone for chipping in so quickly.

[2022-01-24 20:57] #890 closed

[2022-01-26 18:52] joshfraser opened #891 "Add support for Hashflow to OUSD DApp"
Hashflow is a new DeFi trading platform that utilizes market makers to provide tighter spreads. Professional market makers frequently publish signed quotes offchain that anyone can submit onchain to redeem. We're currently testing out an OUSD pool. Once it's fully live, we'll probably want to integrate it into our DApp to make sure we're tapping into all the available liquidity sources.

Hashflow

[2022-01-26 20:01] DanielVF commented on #891
That's a quite interesting setup. Feels like there will be money to made here somehow:

- You can MM without any gas fees to you
- But, this moves to a different beat than the rest of the chain. Signed signatures give optionality to the person who grabbed them. Anyone who gets a sig can choose to execute or not, based on if it's favorable or not at the time. Actually seems that will individual tra

[2022-01-27 00:23] joshfraser commented on #891
I haven't looked, but I'm assuming there are very short TTL's on those offers.

[2022-01-27 13:53] sparrowDom commented on #891
Market maker answers with the `quoteExpiry` property which defines the TTL. Curious who in this case would be doing the MM part? AFAIK even when the funds are in the pool someone needs to implement the server to answer with quotes and signatures.

[2022-01-29 20:04] sparrowDom opened #892 "Best route calculation upgrade"
When doing a best swap calculation for the user we don't yet take into account which contracts have already been approved and which not. The extra approval call could alter the order of most favourable swaps.

[2022-01-29 20:56] micahalcorn commented on #892
Sounds like https://github.com/OriginProtocol/origin-dollar/issues/864 😛

[2022-02-01 13:04] sparrowDom commented on #892
haha yes, I need to use search before making new tickets :)

closing as duplicate of: https://github.com/OriginProtocol/origin-dollar/issues/864

[2022-02-01 13:04] #892 closed

[2022-02-01 14:33] sparrowDom opened #894 "Upgrade NextJs to v 12"
Version 12 brings some cool things to the table: https://nextjs.org/blog/next-12.
One of the better things is, it upgrades compiler to rust and is said to be 3x-5x faster. That should be moderately beneficial improving the speed when developing new features.

[2022-02-01 14:41] RishiKumarRay commented on #894
what are the things we will need to update?

[2022-02-01 16:32] sparrowDom opened #895 "Use common Web3 provider in Dapp"
Currently we use the connected wallet's provider when setting up web3 contracts. This doesn't make much sense and could potentially lead to different behaviour with different wallets:
- use Alchemy JSON RPC provider when setting up web3 contracts
- only use connected wallet's provider when signing the transaction
- also figure out the issue with gas problems when it comes to certain swaps [like he

[2022-02-02 03:30] micahalcorn commented on #752
This now seems to be 12 basis points off, which appears more significant when one number is in the 20s and the other is in the 19s.

[2022-02-04 20:29] sparrowDom commented on #894
I would start with updating `next` dependancy in `dapp/package.json` to latest 12.x version. And then start solving errors that upgrade causes.

I've quickly attempted this upgrade some time ago, but a lot of error have surfaced from the next configuration file. I figured that will not be a sub 1 hour task and left it at that.

[2022-02-07 18:37] DanielVF commented on #323
I think this issue is complete enough? Anything further to do and we can make a new issue?

[2022-02-07 21:12] DanielVF opened #897 "Public Strategist Voting Tools"
Currently a voter makes decisions about how to vote for weekly snapshot strategist actions by looking at a spreadsheet showing the current allocation and the current APY's.

While this is much better than the users needing to look these things up themselves. It still doesn't let users know about the actual behaviors and gotchas of the OUSD strategies. Off the top of my head:

- It cost gas money f

[2022-02-07 22:18] #323 closed

[2022-02-08 18:58] joshfraser commented on #897
@micahalcorn in the meantime, let's add a "Leave things the way they are" option to our weekly allocation voting

[2022-02-14 13:44] sparrowDom opened #901 "Harvester gas optimisation"
There are a few ways we could gas optimise the Harvester:
 - [ ] As pointed out in [this comment](https://github.com/OriginProtocol/origin-dollar/pull/900#pullrequestreview-880896475) we could perform only 1 ERC20 transfer when no one is to claim the 1% (configurable) harvesting reward
 - [ ] Calling harvest on Convex strategy results in selling of CVX and CRV and thus does 2x USDT transfers as is

[2022-02-14 14:16] sparrowDom opened #902 "Configurable Harvester rewards address"
Make it possible to configure the address where Harvester sends the main part of rewards proceeds too. This will be necessary when introducing a Dripper contract.

PR for this: https://github.com/OriginProtocol/origin-dollar/pull/900

[2022-02-14 14:17] sparrowDom commented on #895
PR for this issue: https://github.com/OriginProtocol/origin-dollar/pull/898

[2022-02-15 18:08] sparrowDom opened #906 "Redeem gas estimate failing"
When redeeming a mix of coins (using the Origin Vault) a large redeem is failing at the ether block: 14212248

PR: https://github.com/OriginProtocol/origin-dollar/pull/924/files

[2022-02-16 00:48] franckc opened #907 "Paris post-mortem: Add an integration test for purchase with qty > 1"
Postmortem: https://docs.google.com/document/d/1xbAJEeDMEMTuyiWUXrm_lDasb0i43tME55fq2uUQ_Hs/edit#

[2022-02-16 00:50] franckc opened #908 "Paris postmortem: Audit our current FE integration coverage"
Post mortem doc: https://docs.google.com/document/d/1xbAJEeDMEMTuyiWUXrm_lDasb0i43tME55fq2uUQ_Hs/edit#

Audit our automated test coverage to make sure we are not missing any other tests for purchase related critical use cases.
Look at all the scenarios. For example currently we only have 1 auction test

[2022-02-16 00:52] franckc commented on #907
WRONG REPO!

[2022-02-16 00:52] #907 closed

[2022-02-16 13:22] DanielVF commented on #906
Was this because there was not enough funds in the default strategies?

[2022-02-21 14:27] #879 closed

[2022-02-21 22:13] sparrowDom commented on #634
Done via: https://github.com/OriginProtocol/origin-dollar/pull/909 thanks to @pedrotmr

[2022-02-21 22:13] #634 closed

[2022-02-23 21:36] franckc commented on #894
@gurucrypto23 Mentioned in discord he is going to take a stab at this issue...

[2022-02-23 22:10] franckc commented on #503
@Michael1104Smith it does not look like you are actively working on this so unassigning...

[2022-02-23 22:11] franckc commented on #652
@Michael1104Smith It does not look like you are actively working on this issue so un-assigning it....

[2022-02-23 22:12] franckc commented on #752
@Michael1104Smith It does not look like you are actively working on this issue so un-assigning it....

[2022-02-23 22:12] franckc commented on #658
@Michael1104Smith It does not look like you are actively working on this issue so un-assigning it....

[2022-02-25 03:05] franckc commented on #484
Does not look like it's worth fixing. Closing.

[2022-02-25 03:05] #484 closed

[2022-02-25 05:53] micahalcorn commented on #752
Currently two basis points off when the APY is single digits ✌️

[2022-02-25 09:55] ssfanist commented on #460
https://github.com/OriginProtocol/origin-dollar/pull/918
@franckc please check this PR.
attaching coverage result screenshot as reference.
![coverage](https://user-images.githubusercontent.com/37310971/155694668-2811020f-6802-4f14-97ea-be68861b1f76.png)

[2022-02-25 22:32] franckc commented on #352
Is this issue still relevant now that we implemented the harvester @sparrowDom @tomlinton ?

[2022-02-25 22:35] franckc commented on #487
@sparrowDom Is this issue still relevant now that we implemented the harvester?

[2022-02-25 22:38] franckc commented on #490
@DanielVF I think you upgraded slither recently. Is this issue still relevant?

[2022-02-25 22:41] franckc commented on #519
This was implemented.

[2022-02-25 22:41] #519 closed

[2022-02-25 22:43] franckc commented on #875
@sparrowDom Can we close this?

[2022-02-25 22:44] franckc commented on #877
Closing since the harvester was implemented and deployed to mainnet. Please re-open if there is anything left to be implemented...

[2022-02-25 22:44] #877 closed

[2022-02-25 22:46] franckc commented on #880
@sparrowDom Seems like this could be a "good first issue" for an experience solidity/defi engineer? Marking it as such, let me know if you have any thoughts...

[2022-02-25 22:47] franckc commented on #901
@sparrowDom This could be a "good first issue" for an experienced solidity/defi engineer? Marking it as such, please lmk any comments...

[2022-02-25 22:48] franckc commented on #902
Closing since this is done.

[2022-02-25 22:48] #902 closed

[2022-02-25 22:58] franckc commented on #857
@sparrowDom This is implemented, right?
https://github.com/OriginProtocol/origin-dollar/blob/0d30731f7167da0f410db469baaaf74897408cf6/contracts/contracts/harvest/Harvester.sol#L343

Closing - pleas re-open if I'm missing something...

[2022-02-25 22:58] #857 closed

[2022-02-25 23:04] franckc commented on #124
@sparrowDom This was implemented as part of the harvester and is configurable, right?
https://github.com/OriginProtocol/origin-dollar/blob/0d30731f7167da0f410db469baaaf74897408cf6/contracts/contracts/harvest/Harvester.sol#L389

Closing. Please re-open if I'm missing something...

[2022-02-25 23:04] #124 closed

[2022-02-25 23:09] franckc commented on #876
Would it be worth validating that ERC4626.sol would work for OUSD by writing a few unit tests for it? Might be a good task for an external contributor?
CC @DanielVF @sparrowDom @micahalcorn @joshfraser for input

[2022-02-26 00:49] franckc commented on #460
Thanks for implementing this @ssfanist ! Nice work - we appreciate your contribution :)

[2022-02-26 00:49] #460 closed

[2022-02-26 01:58] DanielVF commented on #876
Yes, we absolutely need to validate it.

[2022-02-28 07:41] micahalcorn opened #919 "Redeem gas limit insufficient"
We've had four attempted `redeem` transactions fail in the past two weeks due to out-of-gas errors. In each case, the gas limit appears _not_ to have been manually edited, and it is within the same range as other successful transactions.

|Transaction hash|Gas limit|
|:--|:--|
|[`0x05d5b7eae6223c4e71a69feadf116d09aa4b7e31508e0419123f27bac8c8b424`](https://etherscan.io/tx/0x05d5b7eae6223c4e71a69fea

[2022-02-28 08:14] micahalcorn commented on #834
This is still happening to me pretty regularly. Sentry considered it a different error, so I linked it again here.

[2022-02-28 08:26] micahalcorn opened #920 "Double loading on earn page"
This is less than ideal. Let's at least lose the second one. It would be nice to move to a proper loading indicator instead of using the literal word, but we can do that later.

<img width="1440" alt="Screen Shot 2022-02-28 at 12 23 51 AM" src="https://user-images.githubusercontent.com/273937/155949382-f64250d6-0063-4989-84e3-3c66a5f87761.png">

[2022-02-28 13:49] sparrowDom commented on #124
Yup it was, thanks for cleanup!

[2022-02-28 16:24] sparrowDom commented on #874
Done via https://github.com/OriginProtocol/origin-dollar/pull/922, https://github.com/OriginProtocol/origin-dollar/pull/921, https://github.com/OriginProtocol/origin-dollar/pull/910

[2022-02-28 16:24] #874 closed

[2022-02-28 17:55] sparrowDom commented on #875
This has been done for harvest but not yet for rebase. Opening it for now

[2022-02-28 18:11] sparrowDom commented on #857
yup, thanks!

[2022-02-28 18:12] sparrowDom commented on #901
Yup a nice one 👍

[2022-02-28 18:12] sparrowDom commented on #880
Yup agreed thanks

[2022-02-28 18:15] sparrowDom commented on #487
I think we can close it for now. If people call harvest on Convex strategy with zero reward tokens available it is their loss. I assume this will not be happening anymore since there is no economic incentive.

[2022-02-28 18:15] #487 closed

[2022-02-28 18:16] DanielVF commented on #487
Agree with closing for now.

[2022-02-28 18:18] sparrowDom commented on #352
We are not doing any of the calls mentioned in the first comment. @tomlinton will know the specifics. I think it is still relevant

[2022-03-01 15:54] sparrowDom commented on #919
Have run redeems with the latest codebase

|Transaction hash|Failing gas limit|Current gas limit (latest codebase)|
|:--|:--|:--|
|[`0x05d5b7eae6223c4e71a69feadf116d09aa4b7e31508e0419123f27bac8c8b424`](https://etherscan.io/tx/0x05d5b7eae6223c4e71a69feadf116d09aa4b7e31508e0419123f27bac8c8b424)|1,345,558|1,695,904|
|[`0x07f28b8e831023a60e6ead4d8b2d91785d52b6a968e1d000013186831c6847df`](https://ether

[2022-03-02 10:23] sparrowDom commented on #834
Done via: https://github.com/OriginProtocol/origin-dollar/pull/923

[2022-03-02 10:23] #834 closed

[2022-03-04 00:04] tomlinton commented on #352
I think it is less of a concern now that the harvest function can be called by anyone and they are incentivised to figure out whether it is beneficial on their own (i.e. something to harvest). This issue was more for when harvesting was in the path of other functions like redeem and I wanted to avoid wasting gas calling harvest on Curve strategies when there was nothing to claim.

Since we've ince

[2022-03-04 00:04] #352 closed

[2022-03-04 14:10] sparrowDom commented on #864
done via: https://github.com/OriginProtocol/origin-dollar/pull/930

[2022-03-04 14:10] #864 closed

[2022-03-04 14:10] sparrowDom commented on #906
done via: https://github.com/OriginProtocol/origin-dollar/pull/924

[2022-03-04 14:10] #906 closed

[2022-03-04 14:33] ssfanist commented on #901
@sparrowDom I just roughly checked this issue.
So first optimization discussed [here](https://github.com/OriginProtocol/origin-dollar/pull/900#pullrequestreview-880896475) is super easy - just to check address consistency and merge/unmerge the transfer.
But about the second optimization mentioned above, I'd like to hear more details.

[2022-03-04 17:51] micahalcorn opened #931 "Suspiciously Identical Gas Estimates"
**Steps to reproduce**
- Connect an account that has _not_ approved Curve or Origin Vault to move USDC
- Enter 4,000 as the USDC input with OUSD as the output (1,000 does not cause the issue)
- See the same gas estimate for Curve and Origin Vault

<img width="587" alt="Screen Shot 2022-03-04 at 8 03 09 AM" src="https://user-images.githubusercontent.com/273937/156815218-d16bbad4-1382-49ab-a0a3-68b3

[2022-03-04 19:10] sparrowDom commented on #931
This looks weird, but upon investigation there is nothing wrong. If approves have not been called and we need to estimate the gasLimit of transactions according to previously executed transactions. And for vault mint above rebase threshold and curve swap we have them both set to 520k gas limit. Will change the Vault's gas limit to 510k just that it won't look like a mistake.

[2022-03-04 19:10] #931 closed

[2022-03-05 01:37] micahalcorn commented on #931
Shouldn't a vault mint above the rebase threshold be much more expensive than a Curve swap?

[2022-03-07 12:58] sparrowDom commented on #931
Yeah after checking some example Curve gasLimit swaps:
- https://etherscan.io/tx/0x3ff7178d8be668649928d86863c78cd249224211efe67f23623017812e7918bb
- https://etherscan.io/tx/0xbf033ffbaf01b808953ca1904d3b0110b50337d60d89c96cd06f3f9a6972d3ca
- https://etherscan.io/tx/0xbce1a2f1e76d4b4f900b3952f34f5f53f8be4a65ccff348661d19b9a3827aa04
- https://etherscan.io/tx/0x12e7c05af3098eaeba9c0bab1e983aeb4d94b0

[2022-03-07 13:12] sparrowDom commented on #901
Regarding the second optimisation -> the rewards strategy can have multiple reward coins - like Convex strategy has CRV & CVX. When calling harvest and selling reward tokens `_swap` function is called twice - once for each of the reward tokens. Which means that any USDT transfers within `swap` function will happen twice. This could be optimised in a way where swap function would only do the swappi

[2022-03-07 16:10] #920 closed

[2022-03-07 18:31] DanielVF opened #937 "Add withdrawFromStrategy and depositToStrategy methods to vault"
## Problem

Current the strategists primary tool is `reallocate` which can move funds from one strategy to another. (The strategist can also move all funds from a strategy, or have all non allocated funds allocated to their default strategies.) There are a few problems:

1. This is not always the most gas efficient or slippage way of moving funds. For example, if the strategist needs to move funds

[2022-03-07 19:10] franckc opened #938 "Only require 2 signers for execution of a governance proposal"
Currently the Governor contract requires 5 signers for both [queueing](https://github.com/OriginProtocol/origin-dollar/blob/c97ab610630a72c4550adf6855857ca25374162c/contracts/contracts/governance/Governor.sol#L119) and [executing](https://github.com/OriginProtocol/origin-dollar/blob/c97ab610630a72c4550adf6855857ca25374162c/contracts/contracts/timelock/Timelock.sol#L176) a proposal.

Reducing the n

[2022-03-07 20:02] franckc commented on #938
We discussed in the community call. Let's gather more data before we prioritize this work
  - The current governor may not get used as much or OUSD once we switch to the new governance model. Though let's double check on that as well as the timeline
  - We'll still use the current governor for OGN
  - The NFT platform may have a need for a governor/timelock contract for the new upcoming products b

[2022-03-08 14:37] DanielVF commented on #901
My apologies for not spotting this issue earlier and commenting it on it.

I do not think we need to gas optimize the case of not transferring twice when sending all proceeds to the vault. This way of calling may only happen only a few times a year - only when we completely pull out of a strategy. The extra 20K gas saved or so for us in those times will be negligible. I think the trade off in incr

[2022-03-08 21:51] sparrowDom commented on #901
@DanielVF doesn't it happen each time we are harvesting Convex? Granted we have no funds in there right now

[2022-03-09 21:50] micahalcorn opened #940 "Add a bot message for decentralized harvest"
<img width="759" alt="Screen Shot 2022-03-09 at 1 49 22 PM" src="https://user-images.githubusercontent.com/273937/157542117-66b01998-d9d1-4c40-8b52-252292e2e5bb.png">

[2022-03-10 11:38] mingshengke opened #941 "【新增】请输出3.11发布内容的playbook"

[2022-03-10 11:39] #941 closed

[2022-03-10 14:48] jkaihsu commented on #651
This doesn't seem like an issue as it's sorting as expected. Discussed over discord with @sparrowDom, the side transactions are going way, so this seems to irrelevant.

[2022-03-10 16:40] micahalcorn commented on #651
Thanks, we haven't officially decided to remove these, but it has been discussed a few times. I'll reopen this if I'm able to reproduce it in the future.

[2022-03-10 16:40] #651 closed

[2022-03-11 05:17] franckc opened #944 "Contracts deploy automation by using a continuous integration pipeline"
As part of deploying new contracts to Mainnet, we have an internal checklist (aka "OUSD Deploy / Launch plans) which includes a battery of manual tests and verifications performed by the engineer doing the deploy.
  1. Slither
  1. Echidna
  1. [Smoke tests](https://github.com/OriginProtocol/origin-dollar/blob/master/contracts/scripts/test/smokeTest.sh)
  1. Manual tests by invoking [hardhat tasks

[2022-03-11 05:29] franckc opened #945 "Deployment script failure recovery"
Occasionally when we run the hardhat script for deploying new contracts on Mainnet, we run into errors.
Root cause varies but can in my experience be attributed to
  - A bug in the deployment script (most likely). For example a missing await that does not get caught on local/fork testing due to different in block mining time. Or because the deploy script when run on Mainnet goes thru a slightly di

[2022-03-11 08:47] sparrowDom commented on #889
Have tested with the latest token split vote using the account I have delegated OGN to and it included the delegated OGN.

[2022-03-11 08:47] #889 closed

[2022-03-11 21:58] DanielVF commented on #945
Just more data on this:

My deploy failures have been very similar:

- During large deploy scripts
- After deploying contracts, near the start of the part where we send deployer transactions to those just deployed contracts (The middle phase of our typical deploy script)
- On mainnet (as opposed to fork)

In the the two failure I've had the script process just hang, with no further messages. I don

[2022-03-17 07:40] #752 closed

[2022-03-17 08:40] #901 closed

[2022-03-17 08:40] sparrowDom commented on #901
Closing for now.

[2022-03-17 16:29] DanielVF commented on #944
For the recent deploy 38 of the staking contract upgrade, I went through the deploy checklist spreadsheet, with an eye to reordering or simplifying as needed. Not very much actually needed to be changed. It wasn't that bad.

I think the key thing that had made the past few deploys so painful is that I've spent an hour or two each time trying to get the smoke tests to run. Maybe there's something a

[2022-03-17 20:44] aglamadrid19 commented on #894
I'm also going to take a stab at this, Next or react isn't my strongest arm but this seems to be a good issue to at least get the dev environment running.

[2022-03-17 22:27] sparrowDom commented on #894
@aglamadrid19 that would be awesome.

[2022-03-18 03:45] aglamadrid19 commented on #894
After upgrading react (v17) and next (v12) , webpack schema seems to be incompatible and it seems webpack 5 is required. Also `webpack5: false` flag has been disabled on Next12

Links I followed:
https://nextjs.org/docs/upgrading
https://nextjs.org/docs/messages/webpack5

![image](https://user-images.githubusercontent.com/11781094/158933155-10a2bbb2-bbbf-4b84-8e7e-d91f3efee146.png)
![image](https:

[2022-03-18 04:16] franckc commented on #944
Great data point.

I haven't run them for a while but I do remember the smoke tests being flaky.

If the brownie tooling can be used to have stable and equivalent in functionality smoke test vs the current JS then I don't think anyone will have any objection. Can JS and brownie coexist in the same repo?

Agreed Echidna could selectively run only when specific contracts are modified. Would be lot m

[2022-03-18 10:08] sparrowDom opened #950 "modifiable APY dropdown selection"
The Dapp should offer an option to display either 1y, 30d & 7d APYs via a dropdown from the balance header. 30 day and 1 year APYs are already available from the  `ContractStore` module. They 7day apy needs to be fetched and stored to `ContractStore` via: https://analytics.ousd.com/api/v1/apr/trailing/7
UI should look like this:

![Apy_change](https://user-images.githubusercontent.com/579910/15898

[2022-03-18 10:35] micahalcorn commented on #950
It may be more involved, but I think we initially intended to have 7-day as well and apparently the old mockup had 3-day too. I'm happy to start with just 30 and 365 although it might make more sense to say "1y" instead of "365d".

Separately, it would be good to add the same feature to https://analytics.ousd.com/ and https://analytics.ousd.com/apy but that can also be a separate project.

[2022-03-18 11:33] sparrowDom commented on #950
Good points thanks, have updated my initial comment with your feedback. Also deploying this massive commit that makes it possible to query 7 day APY (previously under 10 day APYs weren't queryable): https://github.com/OriginProtocol/ousd-analytics/commit/6f6f7effabc9b404a390761f0ce0b3c0f238e81a

[2022-03-18 11:48] sparrowDom commented on #894
I would guess that next has some webpack logic bundled into it. The webpack like configuration that next uses is present in `next.config.js`. The error it seems to be complaining about is `fs` (file system configuration): https://github.com/OriginProtocol/origin-dollar/blob/master/dapp/next.config.js#L37

Though as the comment in that line points out that override was needed to fix some problems w

[2022-03-18 13:34] joshfraser commented on #950
Most of the stable coin farmers I've talked to want to be stay in their positions for at least a few months. As a result, 30d,60d,90d are likely the most useful. I'd include 7d and 365d too.

IMO it would look better if we swapped the order to have the drop-down come before the label.

[2022-03-21 15:08] aglamadrid19 commented on #894
My best shot for moving forward here is to take this issue to the webpack community hoping they can lead us in the right direction. I will see whats the best channel to ask a question a update this issue with the information.

[2022-03-21 19:32] franckc opened #953 "Implement a ledger plugin for OUSD"
Write a [Ledger smart contract plugin](https://blog.ledger.com/ethereum-plugins/) for OUSD.

To start with, we should support the major OUSD contract methods a user interact with:
 - mint
 - redeem

[2022-03-23 16:16] joshfraser opened #955 "Verify smart contracts on sourcify.dev"
Let's update our deploy script to verify our smart contracts on https://sourcify.dev as well as Etherscan. This would allow our ABIs to be automatically loaded on Gnosis Safe and anywhere else that integrates with them.

For context:
https://twitter.com/auryn_macmillan/status/1506261245724442625?s=20&t=aj7oowgb-r0CtD4hgElk8Q

[2022-03-23 16:46] franckc commented on #955
The hardhat deploy plugin that we already use for verifying on etherscan also supports sourcify verification
https://github.com/wighawag/hardhat-deploy#5-hardhat-sourcify

[2022-03-23 16:57] franckc commented on #955
Ran sourcify on the OUSD repo. Some contracts passed verification but some others failed. Not sure why yet.
Here are the logs:
[code]

[2022-03-23 22:04] joshfraser opened #956 "Allow for more granular price tolerance in the DApp"
We currently only allow the user to choose between 1%, 0.5% or 0.25% for their price tolerance. As I understand it, this is telling the AMM to cancel the transaction altogether if they can't guarantee at least X amount. Our current implementation is fine for small amounts but leaves plenty of opportunity for large (7 and 8-figure) traders to get front-run by bots. We should allow custom values & a

[2022-03-28 18:52] sparrowDom opened #959 "Track wallet types in GA"
Add Google Analytic tracking of what wallet types are used when trading on OUSD dapp and also track traded volume

[2022-03-28 22:16] sparrowDom opened #960 "Explore using react-query instead of basic fetch"
We are doing fetches when a new account connects to the dapp. Failed fetches are not retried and data from a lot of those is not persisted between active account changes (producing more unnecessary network traffic and slower dapp performance). Migrate those fetches to react-query [as in this PR](https://github.com/OriginProtocol/origin-dollar/pull/954)

There are other places where we use `fetch`.

[2022-03-29 05:22] micahalcorn opened #961 "Consider prompting the user when contract override is abandoned"
**Steps to reproduce**
- Enter an amount of stablecoins to swap for OUSD
- See Flipper chosen as the default option (for example)
- Override the default selection by clicking on Curve
- Change the input amount slightly
- Contract selection is changed back to default

I _think_ this is the desired behavior because the risk would be greater if we maintained the override and then the new amount resul

[2022-03-29 05:39] micahalcorn opened #962 "Remove MetaMask custom token prompt"
I don't think we need this prompt anymore since OUSD has been added as a supported token. However, we may need to reuse this for OGV or veOGV if we're unable to get those integrated quickly. For some reason, I didn't see this until after swapping my OUSD back to DAI after having swapped DAI for OUSD in the same session.

<img width="511" alt="Screen Shot 2022-03-28 at 10 35 10 PM" src="https://use

[2022-03-29 06:00] micahalcorn opened #963 "Maintain approval button state between contract selections"
**Steps to reproduce**
- Need to approve the Flipper to swap DAI for OUSD
- Submit an approval transaction
- See the top button change state from "Allow..." to "Approving..."
- Before the transaction is confirmed, override the contract selection to Curve
- Switch the contract selection back to Flipper
- See the top button state return to "Allow..." while an approval transaction is still in progres

[2022-03-29 06:10] ritikBhandari commented on #962
So for right now we dont need this prompt but in future we might need this right?

[2022-03-29 06:15] micahalcorn opened #964 "Maintain allowance button styling when transaction is rejected"
**Reproduction steps**:
- See an allowance button for a contract that has not yet been approved
- Note that the button is lighter on hover
- Click to generate the MetaMask prompt for the approval
- Reject the transaction
- Note that the button slightly loses some opacity (and shouldn't)

https://www.loom.com/share/3459fc778b30499388f5c67a1edac3cc

[2022-03-29 07:19] ritikBhandari commented on #961
Hi,
Can I take up this issue if you dont miind?

[2022-03-29 23:14] evgenyboxer commented on #960
I'll take this on.

I'll do it in stages - starting with the Balances.

[2022-03-31 10:32] sparrowDom commented on #960
@evgenyboxer did you plan on doing the same thing for allowance calls as well perhaps?

[2022-03-31 10:34] evgenyboxer commented on #960
Yep - that would be next.

[2022-04-01 13:23] rolandpo commented on #964
included in #958

[2022-04-01 13:23] rolandpo commented on #964
included in #958

[2022-04-01 13:23] #964 closed

[2022-04-01 13:29] rolandpo commented on #950
done in #952

[2022-04-01 13:29] #950 closed

[2022-04-05 00:00] franckc commented on #956
@rolandpo Can you take a look? ty :)

[2022-04-05 23:47] micahalcorn commented on #880
@ssfanist is this something you're actively working on? If not, we should remove the assignment so that someone else can pick it up.

[2022-04-05 23:48] DanielVF commented on #880
PR on this up here:

https://github.com/OriginProtocol/origin-dollar/pull/927

I don't think we need further work on this right now.

[2022-04-05 23:48] #880 closed

[2022-04-06 13:44] sparrowDom commented on #960
@rolandpo in case you will be looking for issues to work on this one would be great. @evgenyboxer already did it for balances, what is left is allowances and apy (see issue decription)

[2022-04-08 09:28] #956 closed

[2022-04-08 09:28] sparrowDom commented on #732
Great job @rolandpo done via: https://github.com/OriginProtocol/origin-dollar/pull/958

[2022-04-08 09:28] #732 closed

[2022-04-08 09:30] sparrowDom commented on #655
done via: https://github.com/OriginProtocol/origin-dollar/pull/958

[2022-04-08 09:30] #655 closed

[2022-04-11 15:45] #876 closed

[2022-04-14 03:09] franckc opened #976 "Ledge live does not show the OUSD countervalue"
The ledge live app does not show the "countervalue" (the value in the preferred currency of the user, for ex. USD).
Here is a screenshot from one of my ledger live account on mainnet

<img width="1108" alt="Screen Shot 2022-04-12 at 10 12 31 PM" src="https://user-images.githubusercontent.com/945910/163305831-c12bf3d8-3b77-4b20-9b49-7b679977f0c3.png">

The root cause is most likely that Ledger Live

[2022-04-14 03:16] franckc commented on #976
Relevant ledger support page: https://support.ledger.com/hc/en-us/articles/4402577950225-Wrong-portfolio-or-asset-value-in-Ledger-Live?support=true

Though does not offer any solution or ways to request a price feed to get added...

[2022-04-14 13:06] rolandpo commented on #284
Outdated

[2022-04-14 13:06] #284 closed

[2022-04-14 13:08] rolandpo commented on #128
Outdated

[2022-04-14 13:08] #128 closed

[2022-04-14 13:10] rolandpo commented on #18
Coinbase Wallet integrated

[2022-04-14 13:10] #18 closed

[2022-04-14 13:10] rolandpo commented on #81
Outdated

[2022-04-14 13:10] #81 closed

[2022-04-14 13:10] rolandpo commented on #290
Outdated

[2022-04-14 13:10] #290 closed

[2022-04-14 13:11] rolandpo commented on #264
Outdated

[2022-04-14 13:11] #264 closed

[2022-04-14 13:12] rolandpo commented on #319
Outdated

[2022-04-14 13:12] rolandpo commented on #626
Done

[2022-04-14 13:12] #626 closed

[2022-04-14 13:12] rolandpo commented on #824
Outdated

[2022-04-14 13:12] #824 closed

[2022-04-15 08:59] sparrowDom commented on #960
Thanks @rolandpo for great work. This is now done via: https://github.com/OriginProtocol/origin-dollar/pull/971

[2022-04-15 08:59] #960 closed

[2022-04-15 12:23] rolandpo commented on #658
done in #975

[2022-04-15 12:23] #658 closed

[2022-04-18 15:09] micahalcorn commented on #962
Correct, we should not be showing this prompt for OUSD. I'm seeing it after swapping DAI for OUSD despite the OUSD being shown in my MetaMask.

<img width="993" alt="Screen Shot 2022-04-18 at 8 08 06 AM" src="https://user-images.githubusercontent.com/273937/163828895-31fa54ad-ecd0-442e-895e-0365521736df.png">

[2022-04-18 16:22] joshfraser opened #978 "Progressive loading of the history page?"
I have 26 pages of history in my History tab making it quite slow to load.

Is it possible to do progressive loading? It would be nice to load the first page of results before starting to process the following pages. If necessary, we could disable the filters until everything has loaded.

[2022-04-19 07:50] sparrowDom commented on #962
done via: https://github.com/OriginProtocol/origin-dollar/pull/979

[2022-04-19 07:50] #962 closed

[2022-04-20 02:06] micahalcorn opened #981 "Wrap/unwrap OUSD interface"
Conclusions from **[wOUSD meets ousd.com](https://docs.google.com/document/d/1Fvos-sCp4_yrZHbLgDyZ9Z0OA2qRsSsOAMpKVDkudAI/edit#)**:
- Let’s start by creating a separate wrap/unwrap form that lives inside of the same DApp.
- The new form should be accessible from [ousd.com/swap](https://ousd.com/swap) via a nav link (Wrap OUSD).
- The wrap form should be accompanied by a similar info feed on the ri

[2022-04-20 02:21] micahalcorn opened #982 "Conditional OGN staking navigation"
We currently have a nav link at the top of [ousd.com/swap](https://ousd.com/swap) pointing to the OGN staking page (Earn OGN). We should remove this from the nav. However, users who have previously staked OGN will need to be able to access the page to be able to unstake once their positions reach maturity. It's also nice for them to be able to see their progress and even review historical position

[2022-04-20 02:43] micahalcorn opened #983 "New OGN staking CTA"
Once we're ready to disable OGN staking in its current form and we [stop linking to the Earn OGN page](https://github.com/OriginProtocol/origin-dollar/issues/982), we will still want to update the content above the fold for a couple of reasons. There are a variety of links around the web pointing people to this page. We could do a permanent redirect, but it's probably simpler to advertise the new

[2022-04-20 02:46] micahalcorn commented on #982
At some point, probably after we stop accepting new stakes on the existing program, we'll stop showing the new banner to users who only have prior stakes that have already been claimed and there's no more action to take. It would be nice to continue letting them access the page if they've bookmarked it or something, but it would be confusing to continue encouraging them to claim their OGN if they'

[2022-04-20 14:41] DanielVF opened #984 "OIP-1 Pause Gaurdian"
There is often a window of 3-7 minutes between an attack contract deployment and the execution of the attack. These attacks are often first noticed by people external to the organization. To pause currently requires:

1. Someone to notice the exploit
2. Find out how to contact us
3. Actually contact someone
4. Convince someone
5. Initial origin responder has to contact another signer
6. We have to

[2022-04-20 14:55] DanielVF opened #985 "OIP-2 Drip all yield in vault"
Dripper functionality can be moved into the vault's rebase code. In this way all forms of yield are smoothed out over time.

This would smooth out

- Reward tokens sales
- Redeem fees
- Yield events from flashloans
- Gifts to the contract

This also has the advantage that it could blunt rebasing targeting attacks by spreading out the apparent gain of funds over a long time period, thus giving us t

[2022-04-20 17:23] franckc commented on #984
I like the idea since it drastically reduces the incident response time.
I assume we would whitelist wallet addresses of the security researchers that would be allowed use this functionality?

[2022-04-20 17:29] DanielVF commented on #984
Yes, it would be to specific trusted individuals.

[2022-04-20 18:47] DanielVF opened #986 "OIP-3 Coin Ratios on Withdraw Should Exclude Curve"
When OUSD asked a curve based strategy for it's balance of a particular coin, the strategy responses with virtual price total number of stables / 3. This is because the actual ratios on curve could under control of an attacker, and the and that the ratios change over time. The curve strategies don't really hold exact specific stablecoins.

Our current system results in emptying out whatever coin w

[2022-04-21 09:28] sparrowDom commented on #981
@micahalcorn sorry for being late to the party. From the engineering standpoint it should be the same effort (if not maybe slightly easier) to integrate the wOusd in the current dapp. Mostly because almost no UI elements need to be built, just some logic added to handle `wOusd` in a special manner similarly to how we handle the redeem `mix` specially.

If there is not a strong UX reason to separat

[2022-04-21 16:48] sparrowDom commented on #978
This is partly solved via the: https://github.com/OriginProtocol/origin-dollar/pull/980

[2022-04-21 16:50] sparrowDom commented on #978
We haven't done any pagination on the analytics or dapp side of this issue. The loading is very slow due to the huge amount of data that needs to go over the network. @rolandpo would you like to take on additional task and:
- make analytics backend support pagination
- fetch data from the dapp using pagination

[2022-04-21 17:30] rolandpo commented on #978
Sure 👍

[2022-04-21 23:42] franckc commented on #985
I like the advantages this provides.

On the other hand, wouldn't that add some complexity to the vault in terms of keeping track of what funds can be allocated to strategies or for withdrawals vs funds that are part of the dripping pool?

[2022-04-22 09:51] sparrowDom commented on #984
Great idea! Does it make sense for this to become an EIP? So that contracts to be paused all implement a common interface. Should be easier for security researchers to interact with those. Especially in such time critical situations.

I can totally see a need for a service (with website similar to snapshot.org) where other protocols aside from OUSD opt in and give permissions to specific security

[2022-04-22 13:44] DanielVF commented on #984
We have two pause methods, though I wonder if we should combine them into one.

[2022-04-25 04:01] franckc commented on #938
It does not look like we'll be have a heavy usage of the governor for the NFT staking project.
=> So this change is low priority for the NFT platform at the moment. Will re-evaluate as we add more contracts to the NFT platform.

[2022-04-25 11:42] DanielVF commented on #985
@franckc This should only affects the interface with OUSD. We just hold back some funds from being rebased. The rest of the vault works as normal. This also means that all funds (even those held back by the built in dripper) can be at work all the time in strategies.

[2022-04-28 21:59] talentdev0807 commented on #823
This is working well on my side just have some delay
I think this comes from calling the apis asynchronously at the same time

[2022-05-03 04:12] micahalcorn commented on #319
Reopening this since the PR was not merged 📂

[2022-05-03 16:07] micahalcorn commented on #54
Since the vault/protocol-level information currently lives on [the analytics page](https://analytics.ousd.com), it probably makes sense to just convert some of the existing data to visual graphs with historical context. Specifically, let's make the **Vault Holdings** and the **Vault Strategy Allocations** behave like the **Total Supply Breakdown** where you can see how they have evolved over time.

[2022-05-03 16:13] micahalcorn commented on #53
Let's just make a graph like this accessible from [the account history page](https://ousd.com/history). We can start by just adding a little button next to the Export button so that the user can toggle between the itemized history and the graph. Later, we can move it to a dashboard view that every user will land on rather than the itemized history.

[2022-05-03 18:44] rolandpo commented on #319
@micahalcorn I think I closed this because the amount tab seems to have been scrapped altogether in the transaction feed, I assume it's covered by the transaction history page. Is it still relevant?

[2022-05-06 13:08] joshfraser opened #992 "Ledger modal doesn't include OUSD in stablecoin balance"
When you connect your ledger, we show the ETH value and stablecoin value under each address to help you select the right wallet.

We currently only include the value of USDT, USDC, and DAI in this calculation. It should include OUSD too.

[2022-05-10 18:18] staa99 commented on #984
Hi @franckc,

The idea is interesting and I'd like to implement the contract.

Considering the requirement that the caller of the pause functions, `pauseRebase` and `pauseCapital`, must be the `governor` or `strategist`, then it might be necessary to extend the `governor` or `strategist` with the desired functionality or upgrade the contract to allow a new address (the `pauser`) to pause/unpause t

[2022-05-10 23:57] franckc commented on #984
I'd think we would want to leave the current `governor` and `strategist` roles as is. But we would add a new role that perhaps we call `pauser` that is made up of a whitelist of addresses. The `governor`, `strategist` and `pauser` would all have permissions to call the pause methods.

[2022-05-11 00:26] staa99 commented on #984
`pauser` can be one address (the `pauser` contract), which manages the whitelist of security researchers that can use the function. The pausing rules can then be implemented in the `pauser` contract. The access requirements for the `pause/unpause` functions can then be updated to allow the single `pauser` contract.

[2022-05-11 01:48] DanielVF commented on #984
Yes, I agree with you @staa99. One pause address the vault, with the rest managed by the pause contract.

[2022-05-11 10:43] rolandpo commented on #992
done in #994

[2022-05-11 10:43] #992 closed

[2022-05-11 23:40] staa99 commented on #984
Hi @franckc @DanielVF,

I have a few questions on the `pauser` contract.

- Who can unpause after a confirmed pause? (maybe the governor?)
- Can the `vaultAdmin` address be changed? (maybe yes, but only by the governor?)
- Can the `expiryDuration` be changed? (maybe yes, but only by the governor?)

[2022-05-13 01:33] staa99 commented on #984
Thanks a lot for clarifying @DanielVF

[2022-05-14 01:10] staa99 commented on #984
Hi @DanielVF,

One last question before I submit a PR. Thanks a lot for your help on this issue.

`VaultAdmin` defines an `unpauseRebase` method which can only be called by the governor.

https://github.com/OriginProtocol/origin-dollar/blob/bf1ba296d1efdbc5491f1f029a0ab6e4c84cbe74/contracts/contracts/vault/VaultAdmin.sol#L285

The tests for the method include the following:

https://github.com/Ori

[2022-05-14 03:54] DanielVF commented on #984
Thank you for noticing. The strategist should indeed be able to to unpause rebasing. (We had changed our minds a few times in the past.)

[2022-05-16 10:58] rolandpo commented on #981
done in #988

[2022-05-16 10:58] #981 closed

[2022-05-16 11:00] rolandpo commented on #653
done in #977

[2022-05-16 11:00] #653 closed

[2022-05-16 11:01] rolandpo commented on #652
done in #977

[2022-05-16 11:01] #652 closed

[2022-05-16 15:47] micahalcorn opened #996 "Snapshot issues"
I'm just filing this because I need somewhere to drop these screenshots. I assume there was nothing on our end causing these issues last week.

<img width="580" alt="Screen Shot 2022-05-11 at 1 57 48 PM" src="https://user-images.githubusercontent.com/273937/168632255-31635774-1bf8-4e72-ae7b-df6a1c2cc711.png">
<img width="295" alt="Screen Shot 2022-05-11 at 1 58 09 PM" src="https://user-images.gith

[2022-05-16 15:47] #996 closed

[2022-05-17 10:11] sparrowDom commented on #978
Just a heads up, while time passes and we have more rebase events each day, the performance impact of not using pagination is going to become more apparent. Especially on mobile devices where with slower CPUs.

[2022-05-17 21:46] franckc commented on #886
Doing some issue cleanup. I think we can close this on since the implementation is done.

[2022-05-17 21:46] #886 closed

[2022-05-17 21:51] franckc commented on #873
Issue cleanup.

[2022-05-17 21:51] #873 closed

[2022-05-17 21:53] franckc commented on #865
@micahalcorn Is it something we'd like to prioritize?

[2022-05-17 21:54] franckc commented on #823
@talentdev0807 Unassigned the issue since it does not look like you are working on it?

[2022-05-17 21:56] franckc commented on #302
Closing as outdated.

[2022-05-17 21:56] #302 closed

[2022-05-18 05:21] micahalcorn commented on #865
Coinbase Wallet and WalletConnect work well for me. For MetaMask, I would look into [deeplinking](https://docs.metamask.io/guide/mobile-best-practices.html#deeplinking). If it's possible to detect that the user does not have a given app installed, then it would be nice to link to the app's website when the button is clicked. I don't think I would hide any buttons like Ledger just because it isn't

[2022-05-18 05:25] micahalcorn opened #999 "Small screen overflow"
Now that we have four nav links, they are wrapping on small screens. Additionally, the connect button is getting cut off due to the addition of the IPFS button. Since we have the language select in the footer, I think we can probably remove it from the nav if that helps. Let's also repair the vertical alignment of the APY.

![IMG_3475](https://user-images.githubusercontent.com/273937/168963224-053

[2022-05-18 05:35] micahalcorn commented on #999
While we're at it, we should fix the footer as well. The links should be wrapped and left-aligned while the "Built by" and the language select should be wrapped and right-aligned.

![IMG_3476](https://user-images.githubusercontent.com/273937/168964486-be949c80-4a07-4bf7-82e2-1d1a74eab6ed.PNG)

[2022-05-18 09:40] sparrowDom commented on #865
Agree, deeplinking would be a great addition, especially since some ( no idea how many) users are already used to it from the other apps.
As for the issue of hiding unsupported wallets I would still show them but grey them out (make them seem disabled). We can still show the prompt as @micahalcorn suggests in case users click on them.

[2022-05-18 12:47] DanielVF opened #1000 "OIP-4 Disallow mints from off peg stablecoin"
If a stablecoin is enough off peg, we should not allow mints from it until it returns to peg.

## Background and Rationale

During a stablecoin depegging, a primary safety objective of OUSD is to avoid OUSD shifting its asset allocation over to the depegged stablecoin. Our current defense is to reduce the amount of OUSD minted to a user per deposited stablecoin by using the oracle price for the st

[2022-05-18 12:55] sparrowDom commented on #1000
I like the proposal, should increase stability in volatile times. Another option would be for `priceUSDMint()` to revert in time of de-pegging and we display it as an error message in the dapp.

[2022-05-18 13:27] jcole3 commented on #1000
I like this idea. I am all for price stability. How soon can this be implemented?

[2022-05-18 16:50] franckc commented on #1000
+1 for adding this safety valve

[2022-05-18 18:43] fastendev commented on #53
@micahalcorn To building chart for account history, I need to get the simply account data(template). so I mean that i don't have any transaction on ousd. Also I checked the transaction history from clicking on Export button.  btw I couldn't know the data structure for ousd transaction.

[2022-05-19 00:36] staa99 commented on #984
Hi @DanielVF,

Please review my PR when you're available. Thanks a lot for your time and help.

[2022-05-20 09:37] WilHolt commented on #999
Hello, could I help with this issue? I think it is a good first issue @micahalcorn 😉

[2022-05-20 09:52] WilHolt opened #1003 "Missing padding causing visual bug and maybe wrog alignment"
Hi, I've noticed that is missing some padding in a specific case between maybe 765px to 799px
and the alignment of the last item looks wrong too, maybe I'm without context, and I'm wrong
![image](https://user-images.githubusercontent.com/25349344/169502188-66127758-e3e5-4967-aa6d-b416f1d16b72.png)

[2022-05-20 15:26] micahalcorn commented on #999
I think that @rolandpo is already working on this one but let us know if you see something else you would like to pick up, thanks!

[2022-05-20 15:30] micahalcorn commented on #53
You can override the account by providing a query parameter: https://ousd.com/history?override_account=0x54b55662901af57b31fb6b52af8175b652a5816e

You will still need to have a wallet connected for the history page to be shown. But this lets you see how it behaves if your account doesn't actually have any history.

[2022-05-20 19:21] sparrowDom commented on #1003
Thanks fixed via: https://github.com/OriginProtocol/origin-dollar/commit/e178cefa3734acc0503b3f3d93344135a563dfc5
shall be live in ~30 mins

[2022-05-20 19:21] #1003 closed

[2022-05-23 17:28] micahalcorn opened #1004 "Reduce default price tolerance"
Let's change the default value here from 0.5% to 0.1% since that's what Curve uses and it's quite unlikely that the user will experience much slippage on stablecoins, particularly if they're minting or redeeming.

<img width="922" alt="Screen Shot 2022-05-23 at 10 26 01 AM" src="https://user-images.githubusercontent.com/273937/169874750-dfabb01b-096c-4f52-b6a2-26b11bd7588f.png">

[2022-05-24 06:59] sparrowDom commented on #1004
done via: https://github.com/OriginProtocol/origin-dollar/pull/1005 thanks @rolandpo

[2022-05-24 06:59] #1004 closed

[2022-05-25 09:32] #999 closed

[2022-05-30 05:33] micahalcorn opened #1007 "Allow form interaction without wallet connection"
Currently, the swap and wrap forms require a wallet to be connected. Otherwise, they aren't rendered and the user can't kick the tires without granting permission to the DApp.

<img width="618" alt="Screen Shot 2022-05-29 at 10 23 11 PM" src="https://user-images.githubusercontent.com/273937/170922730-02ffdc6b-17be-4ddf-ac40-5d22209d11fb.png">

Let's lose this and just go ahead and render the form

[2022-05-31 14:48] rolandpo commented on #1007
Would the contract table be displayed if no wallet is connected? Gas estimates wouldn't be able to take allowances into consideration + there would be a very small chance that different routes are shown depending on whether a wallet is connected or not

[2022-05-31 22:13] sparrowDom opened #1010 "Adding liquidity to Metapool strategy"
[This script](https://github.com/OriginProtocol/origin-dollar/pull/1002/files#diff-c66b7eccb97ac182ee863bf6eff8b1373803079d9f829bc642decb5a9097c788) using brownie forked environment performs various approaches to adding/removing liquidity to meta strategy. Detailed results of various approaches and initial states of the Metapool are captured in [this spreadsheet](https://docs.google.com/spreadshee

[2022-05-31 22:20] sparrowDom commented on #1010
Metapool liquidity research cc
@DanielVF @micahalcorn @franckc @joshfraser

Would be glad to hear your thoughts

[2022-06-01 23:57] micahalcorn commented on #1007
Yeah, ideally everything would behave the same and the calculations would just assume that there are no existing allowances. If necessary, we could hide the calculations but it would be nice for everything to work without having a wallet connected even if the results are slightly different.

[2022-06-02 20:16] ripu2 commented on #280
Any updates ?

[2022-06-05 18:28] micahalcorn opened #1014 "Round the corners"
The container for the wrap form should have rounded corners whether the wallet is connected or not. This may not matter after https://github.com/OriginProtocol/origin-dollar/issues/1007 is resolved.

Rounded 👍

<img width="1440" alt="Screen Shot 2022-06-05 at 10 18 43 AM" src="https://user-images.githubusercontent.com/273937/172065033-468ab01b-d394-4eb6-8b3b-827e590b1b8c.png">

Sharp 👎

<img width

[2022-06-05 18:36] micahalcorn opened #1015 "Immediate unwrapping appears to result in a loss"
As a user who is hesitant about wrapping (and confused by the exchange rate math), I want to know that I can unwrap my OUSD and get the same amount back. Due to some rounding, I suspect, flipping the form causes the OUSD output to be lower than my original input.

https://www.loom.com/share/344dcb5a92064e739cfc7779ac0ef88e

[2022-06-05 18:59] micahalcorn opened #1016 "Annoying zero state when connecting a wallet"
When the wallet gets connected, the input field should be empty rather than `0`. This may become irrelevant once #1007 is resolved.

https://www.loom.com/share/54191256783d4639a57b1967c3fc3d49

[2022-06-05 19:46] micahalcorn opened #1017 "Avoid rounding down on OUSD value for wOUSD"
After wrapping 123.00 OUSD, my current value appeared to be 122.99 at the top. I don't remember this happening with a larger number when I wrapped with a different account, but I may just not have noticed if it was not a round number. Of course, this doesn't matter much once the next rebase happens, but it's not a great experience.

Related to https://github.com/OriginProtocol/origin-dollar/issues

[2022-06-05 21:11] rolandpo commented on #1016
yep, this annoyed me too :) already pending fix for this in PR #1011

[2022-06-06 03:38] franckc commented on #894
Unassigning.

[2022-06-06 03:58] micahalcorn commented on #1010
Great work @sparrowDom 👍 Does your model take into account the Curve/Convex yield falling as we put more liquidity into the pool? I assume that happens if the CRV/CVX rewards allocated to the pool are fixed and we're adding to the deposits.

For what it's worth, the projected APY is now down to 4% although it changes regularly.

My instinct is to keep it simple and go with the 50/50 strategy when

[2022-06-06 08:41] sparrowDom commented on #961
Posting a suggestion to the problem here:
<img width="688" alt="Screenshot 2022-06-06 at 10 38 15" src="https://user-images.githubusercontent.com/579910/172126896-56bb2f44-cd4e-42ac-9a50-ef140fcdff7f.png">

IMHO this is a relatively elegant solution that is above the fold and is not hard to switch from a blocking to a non blocking one.

[2022-06-06 11:53] sparrowDom commented on #1010
That is a great point @micahalcorn thanks, have updated the spreadsheet to take declining APY into account when more liquidity is provided to Convex pool. It is clear that diminishing returns come into play and we should consider how much capital to deploy to Convex Metapool.

Also have added another test run a bit below with 10 mio CRV deployed next to other tests that deploy 1 mio to showcase ho

[2022-06-06 20:01] rolandpo commented on #1014
yes, I do believe #1009 solves this

[2022-06-06 20:02] rolandpo commented on #1015
done in #1020

[2022-06-08 15:58] rolandpo commented on #1017
done in #1018 but I don't think we're pushing that through

[2022-06-19 03:32] rolandpo commented on #1016
done in #1011

[2022-06-19 03:32] #1016 closed

[2022-06-19 03:34] rolandpo commented on #1017
reconsidered

[2022-06-19 03:34] #1017 closed

[2022-06-20 17:45] micahalcorn opened #1026 "Selectable APY time interval on homepage"
We've updated the OUSD homepage to more clearly state that the APY shown is actual and historical rather than current or forward-looking. Let's take this one step further by allowing the viewer to choose a different historical measure of the protocol's performance. My suggestion is to make "year" obviously clickable and make the other options "week" and "month". We could underline it with a little

[2022-06-20 18:08] staa99 commented on #1026
Hi @micahalcorn,

I think using `Option B` is great. That way, the calculation feels more accurate and conveys the right information to the user as well. For styling, I think underlining the `year` and making it clickable to show a little component that displays the options is a good idea. Defaulting to the `month` is probably best since it provides a closer estimate of the current situation. I ca

[2022-06-20 18:17] micahalcorn commented on #1026
Sure, thanks 👍 If we go with option B, let's also just change the existing "year" text to "30 days" to match the default selectable option.

[2022-06-21 12:01] rolandpo commented on #1014
done on history page in #1027

[2022-06-21 12:01] #1014 closed

[2022-06-21 12:01] rolandpo commented on #1007
done in #1009

[2022-06-21 12:01] #1007 closed

[2022-06-22 19:59] staa99 commented on #1026
Hi @micahalcorn,

I am having an issue running the dApp locally. I'm guessing the problem is from some missing ABIs. My branch is based on `master`.

![image](https://user-images.githubusercontent.com/20708724/175125133-8c358ff1-548d-4e7a-afe0-5b22a6e2c923.png)

![image](https://user-images.githubusercontent.com/20708724/175124652-0db4fa2b-fdfa-46e2-a735-d7e353bb20f6.png)

[2022-06-27 13:22] sparrowDom opened #1028 "Can not swap even when wallet unlocked"
To reproduce:
- visit OUSD.com with locked metamask
- click get OUSD
- enter swap amounts
- unlock metamask from the metamask UI

![image](https://user-images.githubusercontent.com/579910/175952018-c83ec0ac-b724-47f9-a312-2f38ca1bbc42.png)

[2022-06-27 13:22] sparrowDom commented on #1028
@rolandpo would you be interested in this one?

[2022-06-28 12:51] micahalcorn opened #1030 "Support Crypto.com DeFi Wallet"
I tried connecting from the [DeFi Wallet](https://crypto.com/defi-wallet) browser and it failed silently. I believe that it worked in the past, and I also noticed that Coinbase Wallet is no longer working. So it seems that something has broken these environments.

Let's also add "DeFi Wallet" as a listed option on the desktop modal.

<img width="333" alt="Screen Shot 2022-06-28 at 5 49 45 AM" src=

[2022-06-28 13:27] rolandpo commented on #1030
Coinbase extension and mobile app work for me too for the record

[2022-06-30 23:28] staa99 commented on #1026
Hi @micahalcorn,

Just bringing this up in case you missed it. How do you think I can resolve this issue?

Thank you.

[2022-07-01 10:18] rolandpo commented on #865
done in #1008

[2022-07-01 10:18] #865 closed

[2022-07-04 19:03] rolandpo commented on #1026
@staa99 I'd suggest dropping a message in the ousd-engineering channel on Discord if you're having trouble setting up your local env

[2022-07-04 19:06] staa99 commented on #1026
Thanks @rolandpo.

[2022-07-08 04:31] #1028 closed

[2022-07-08 05:08] micahalcorn commented on #983
Here's a mockup for a new banner that we should use to replace this one: https://zpl.io/1y6xeQm

[2022-07-08 16:26] rolandpo commented on #1026
done in #1033

[2022-07-08 20:15] micahalcorn opened #1035 "Prevent new OGN staking"
Let's remove these elements and all of the related functionality so that new lock-ups can no longer be initiated from the DApp. Later, we'll disable them at the contract level. It's important, however, that users who have an existing stake can still access it and claim their OGN at maturity.

<img width="977" alt="Screen Shot 2022-07-08 at 1 13 54 PM" src="https://user-images.githubusercontent.com

[2022-07-08 20:21] micahalcorn commented on #982
Sorry to change my mind a bit on this, but I think repurposing our existing banner is cleaner. We should also be able to ignore the environment variables.

<img width="653" alt="Screen Shot 2022-07-08 at 1 19 41 PM" src="https://user-images.githubusercontent.com/273937/178065000-fbb63c20-1fcc-4092-99e7-08d0b6cdf394.png">

[2022-07-11 08:41] micahalcorn opened #1037 "Vertically align nav links on mobile"
These links have been pushed to the bottom for some reason. This same issue was fixed in https://github.com/OriginProtocol/ousd-governance/pull/192, so it may be as simple as just bringing over the same code.

<img width="412" alt="Screen Shot 2022-07-11 at 1 37 07 AM" src="https://user-images.githubusercontent.com/273937/178223500-dad5ae2d-e1f5-4f5f-95b0-8c53a70c0ac5.png">

[2022-07-11 09:53] micahalcorn commented on #1026
Reopening this per https://github.com/OriginProtocol/origin-dollar/pull/1033#issuecomment-1179311705 🙂

[2022-07-11 17:29] franckc opened #1038 "Rinkeby claiming failure"
Andra reporting a partial failure when claiming on Rinkeby

Partial revert on her tx:
https://rinkeby.etherscan.io/tx/0xc858d235bebe3849ee6011096c49531d51b44d3cf800882316bab513fa71202c

Contract MandatoryDistributor
https://rinkeby.etherscan.io/address/0xF611cC500eEE7E4e4763A05FE623E2363c86d2Af

Andra's account: https://rinkeby.etherscan.io/address/0xde3f7f5c43af3347f80ce034f20110b9e4c2f8c0

Andra

[2022-07-13 01:25] micahalcorn commented on #792
A user is reporting this error when attempting to swap OUSD for either USDT or USDC via the Flipper.

![revert](https://user-images.githubusercontent.com/273937/178628525-0dc69e66-4a21-4edc-ab46-bdadc95ecdf1.png)

[2022-07-13 05:48] micahalcorn opened #1040 "Ledger account derivation mismatch"
I have a Ledger Nano X that I'm testing with. The accounts that I'm generating don't match up with any of the options that are shown by our DApp. The first account is the same but the rest are not. It looks like this might be related to https://github.com/OriginProtocol/origin-dollar/issues/21#issuecomment-694997222.

**Ledger Live**
Ethereum 1: 0x**c...** `"freshAddressPath": "44'/60'/0'/0/0"`
Et

[2022-07-13 07:20] micahalcorn commented on #1040
As another data point, I connected the Ledger to MetaMask and they offer the same accounts as Ledger Live (also not matching our DApp).

[2022-07-13 14:16] #1026 closed

[2022-07-13 14:17] rolandpo commented on #983
done in #1034

[2022-07-13 14:17] #983 closed

[2022-07-13 15:22] sparrowDom commented on #1040
done via: https://github.com/OriginProtocol/origin-dollar/pull/1041

[2022-07-13 15:22] #1040 closed

[2022-07-13 15:32] sparrowDom commented on #1037
done via: https://github.com/OriginProtocol/origin-dollar/pull/1042

[2022-07-13 15:32] #1037 closed

[2022-07-13 18:30] #982 closed

[2022-07-14 04:06] franckc commented on #792
I think @micahalcorn has a Nano X

[2022-07-14 09:19] sparrowDom commented on #792
@micahalcorn have you ever tried swapping using the NanoX? From console log I assume the user had ledger connected via Metamsk

[2022-07-14 15:37] micahalcorn opened #1046 "Show proper APY without wallet connected"
https://www.loom.com/share/711e8aa8f2cb4623a3ce92e2b8f549f9

Somehow, one of our users was also able to get into this state:

![apy](https://user-images.githubusercontent.com/273937/179021406-4ad2c345-d013-4e1e-a7a0-504af760fc12.png)

[2022-07-14 16:12] sparrowDom commented on #792
So the problem was that Dapp wasn't detecting that Flipper doesn't have enough funds to perform the swap. User was trying to swap 10k OUSD using flipper. flipper didn't have 10k USDC. Dapp should say "amount too high", but didn't rule Flipper out and was trying to perform the swap.

[2022-07-14 16:14] micahalcorn commented on #792
Interesting, was that unique to the Ledger? I tried checking that with regular MetaMask connection and Flipper did not show up as an option with larger amounts.

[2022-07-18 13:40] rolandpo opened #1047 "replace absurdly large numbers with error messages on insufficient liquidity"
![image](https://user-images.githubusercontent.com/62400812/179523650-97308283-a6cc-4496-ab10-49ef167e759c.png)

[2022-07-18 15:09] micahalcorn commented on #1047
Thanks for filing this, @rolandpo. What threshold would you use to determine that it's insufficient?

[2022-07-18 15:24] rolandpo commented on #1047
I'm not sure about the exact number, but I think it would still be valuable to have as many options available to show liquidity levels, so even something like below 10% would be enough to get rid of these numbers overlapping

[2022-07-20 04:05] micahalcorn commented on #1047
This might be what you mean by 10%, but I was thinking that we should refrain from showing the numbers if your effective price is worse than $1.10. The only problem I can think of is that you can trigger a terrible price like that just by entering very low numbers (e.g. "1"). We wouldn't want to prevent those transactions since some people will do this to submit test transactions and kick the tire

[2022-07-20 04:08] micahalcorn opened #1048 "Explain unsupported"
Let's make "Unsupported" clickable either by linkifying it or adding an info icon. Clicking should open a tooltip explaining why the given contract route is not available. It's not very intuitive why "Origin Vault" is always unsupported with DAI, USDC, and USDT as the output. Similarly, everything else is unsupported when the output is Mix.

<img width="595" alt="Screen Shot 2022-07-19 at 8 55 50

[2022-07-22 05:11] micahalcorn commented on #872
Closing this since it's mostly done 💙

[2022-07-22 05:11] #872 closed

[2022-07-22 05:19] #961 closed

[2022-07-22 12:53] rolandpo commented on #1047
Maybe we could exclude routes where **Est. received** differs from input amount by more than 10% rather than **Effective Price**. That would be pretty much same thing for larger amounts, but wouldn't affect smaller test transactions

[2022-07-22 16:46] micahalcorn commented on #1047
Smart 🧠

[2022-07-23 04:24] #1047 closed

[2022-07-25 09:26] rolandpo commented on #1048
done in #1050

[2022-07-25 09:26] #1048 closed

[2022-07-26 00:52] micahalcorn opened #1051 "Add Sentry to staging environment"
Unless I'm mistaken, we're not currently reporting errors to Sentry from staging. Or it's possible that we are but not distinguishing the environment from production.

https://sentry.io/organizations/origin-protocol/issues/?project=5423988

There is at least one issue I'm aware of in staging that isn't reproducible in production, but it would be nice to track it down and fix it because it is distr

[2022-07-28 18:16] rolandpo commented on #1035
done in #1039

[2022-07-28 18:16] #1035 closed

[2022-07-29 16:17] #1000 closed

[2022-08-02 02:29] micahalcorn opened #1054 "Write first draft of marketing page spec"
Write up a proposal for new content to live on OUSD.com.

[2022-08-02 02:36] micahalcorn opened #1055 "ousd.com redesign MVP: homepage + blog posts page"
Once https://github.com/OriginProtocol/origin-dollar/issues/1054 is done, let's ship at least a minimal version of our new landing pages. I imagine that we'll be ambitious with some more complex improvements (namely, charts/graphs), but we need to quickly move on from what we have now. We should aim to have something up at the end of Sprint 32 that we can continue to improve.

[2022-08-02 02:40] micahalcorn opened #1056 "Agree on new yield-earning strategy"
It's safe to say at this point that we need to launch an additional strategy to raise the APY from current levels to something more competitive. We won't ship a new strategy just for the sake of doing it, but we will if it is safe and likely to have a meaningful, positive impact on our APY. Let's plan to agree on which strategy we'll implement and have a rough plan for how it will be engineered by

[2022-08-02 03:13] micahalcorn opened #1057 "Add wallet CTA for legacy staking"
A user today pointed out that there's no way to view existing stakes or claim them upon maturity when visiting https://ousd.com/earn until a wallet is connected. We should throw some kind of call-to-action in there for the user to connect the wallet.

[2022-08-03 13:16] sparrowDom commented on #1056
for info: OUSD Convex APR is pretty low right now (Metapool considerations)
<img width="1238" alt="Screenshot 2022-08-03 at 15 14 03" src="https://user-images.githubusercontent.com/579910/182617151-6adda716-d8c4-4d94-a802-12b726e14b2d.png">

[2022-08-03 19:34] sparrowDom commented on #1056
@micahalcorn has been mentioning Frax+3Crv somewhere. They had a pretty compelling 7% Convex APY - currently still sitting at 5.4%.  I am looking at 3crv + another coin Convex APYs:
![convex](https://user-images.githubusercontent.com/579910/182691966-945294ca-9559-495f-b754-f52d7b89720c.png)

What I really like that for all these pools we can write a one single strategy (Solidity class) that we ca

[2022-08-04 02:40] micahalcorn commented on #1054
Here's a rough first pass:
https://docs.google.com/document/d/1L8gq2IJ-5AfFgM6RbLKQwH5YiAk_JAjmncgLel7oCH8/edit#

High-level approach:
- More showing, less telling
- Try using charts and visualizations containing live data
- Give the viewer paths to learn more and answer her own questions

We'll work on mocking up something this week.

[2022-08-04 02:40] #1054 closed

[2022-08-04 02:57] micahalcorn commented on #1056
Yes, thanks @sparrowDom 👍 This is what I've suggested a couple of months ago as a generalized Convex strategy. We started to discuss it a bit in [the candidate strategies doc](https://docs.google.com/document/d/18h4x5ea_xVVn_aEMMnRuJJ4qDIzXzib1MWO0Y_3p3dY/edit#heading=h.l4un921cn0y9).

I like the idea of only ever holding 3crv or factory LP directly instead of allowing users to mint OUSD using X s

[2022-08-04 05:02] franckc commented on #1055
@rolandpo Can I volunteer you to work on this? Thanks :)

[2022-08-04 08:33] sparrowDom commented on #1056
Hah sorry missed that @micahalcorn. Didn't want to steal your ⛈️

Cool we have 1:1 today and we can discuss it. But generally any 3crv + token Curve pool is a Metapool that is running on the same code and has the same APIs as the 3CRV + OUSD pool that I have been looking into for the purposes of Metastrategy. Which means there is a unified way we interact with it

[2022-08-04 08:42] rolandpo commented on #1055
sure thing!

[2022-08-08 07:10] sparrowDom commented on #792
Another use has been experiencing this issue this time Firefox/Metamask. So it looks like it is not a Ledger specific issue.
<img width="1164" alt="Screenshot 2022-08-08 at 09 09 53" src="https://user-images.githubusercontent.com/579910/183360155-5079dc54-1064-485f-8ff4-f95c7be353bb.png">

[2022-08-08 13:11] GuzmanMassAdoption opened #1061 "Submit Balancer PR for default token list support"
Submit a Balancer PR to add OGV, OUSD, and wOUSD to their default token list.

https://github.com/balancer-labs/assets

[2022-08-08 13:15] GuzmanMassAdoption opened #1062 "Create DeFi Llama Adapter for OGV"
In order for Origin Dollar Governance to be tracked on DeFi Llama an adapter will need to be created.

Below I have provided the steps mentioned in [DeFi Llama's docs](https://docs.llama.fi/list-your-project/submit-a-project).:
If you'd like to list a DeFi project on DefiLlama:
1. Fork the [Adapters repo](https://github.com/DefiLlama/DefiLlama-Adapters) (button towards the top right of the repo pa

[2022-08-08 13:18] rolandpo commented on #1061
PR pending
https://github.com/balancer-labs/assets/pull/502

[2022-08-10 09:46] rolandpo commented on #1057
done in #1060

[2022-08-10 09:46] #1057 closed

[2022-08-10 10:19] rolandpo commented on #978
done in #998

[2022-08-10 10:19] #978 closed

[2022-08-10 14:49] rolandpo commented on #1062
pending DeFi Llama adapter PR: https://github.com/DefiLlama/DefiLlama-Adapters/pull/3509

[2022-08-12 21:57] GuzmanMassAdoption commented on #1062
We can close this issue. OGV Staking was included on the OUSD page here: https://github.com/DefiLlama/DefiLlama-Adapters/pull/3518

[2022-08-12 21:57] #1062 closed

[2022-08-13 11:54] micahalcorn opened #1065 "Maintain swap form state during navigation"
This is a minor edge case, but it confused me for a second when I was using the DApp this morning. The swap form almost maintains its state between route changes, but it's slightly off.

https://www.loom.com/share/80b47082ea104d4d9b8cb37e7eb931f7

[2022-08-15 15:04] OrlundoHubbard commented on #1065
@micahalcorn I would like to work on this. Is it still open?

[2022-08-15 16:25] micahalcorn commented on #1065
Yes, thanks! I've added you to the organization so that you can push a branch instead of using a fork. Let us know what questions you have as you start to work on it.

[2022-08-15 16:44] OrlundoHubbard commented on #1065
Awesome! @micahalcorn thank you. Going to read through everything and let you know if I have questions.

[2022-08-17 12:53] crypto-ticky commented on #555
I think I figured out the issue

[2022-08-17 12:56] crypto-ticky commented on #555
In VaultCore.mint function, IOracle(priceProvider).price function is called.
![image](https://user-images.githubusercontent.com/68897116/185136676-6477f396-6a96-4c5b-bb26-4282983e49e0.png)
and the priceProvider address is [https://etherscan.io/address/0x277e80f3E14E7fB3fc40A9d6184088e0241034bD#readProxyContract](url)

[2022-08-17 17:44] DanielVF commented on #555
Works in brownie:

<img width="784" alt="image" src="https://user-images.githubusercontent.com/837/185206949-752435e8-de7e-4a4a-a3b3-a7d4a124c4de.png">

[2022-08-17 19:00] crypto-ticky commented on #555
that worked with 24999
![image](https://user-images.githubusercontent.com/68897116/185220961-fa30194f-7e05-4291-ae64-90f3fa4d1051.png)
but when the amount is 25000, that didn't work
![image](https://user-images.githubusercontent.com/68897116/185221278-cef32c09-be97-4fa3-b3dd-2069c1bcacb8.png)

I don't think that is hardhat issue

[2022-08-17 19:10] crypto-ticky commented on #555
Okay, now that works very well
![image](https://user-images.githubusercontent.com/68897116/185223037-aa6bf045-1078-4e75-9f57-26a62c87c574.png)

[2022-08-17 19:11] DanielVF commented on #555
So it works for 100,000, but not for 25,000?

[2022-08-17 19:16] crypto-ticky commented on #555
No, that works very well for all values
I just updated the BLOCK_NUMBER

The issue we encountered is as follows.
First of all, the Vault address was not accurate.
Next, when this ticket was created, the market situation did not provide factors that encountered large mint. It is not clear which value is the cause of the error.
However, after I changed BLCOK_NUMBER to the latest value, the fact that

[2022-08-17 19:17] DanielVF commented on #555
What BLCOK_NUMBER were you using that caused the problems?

[2022-08-17 19:18] crypto-ticky commented on #555
PROVIDER_URL=[SET PROVIDER URL HERE]
BLOCK_NUMBER=13132379
# add a list of comma separated accounts you want funded in node running forked mode
ACCOUNTS_TO_FUND=

dev.env

[2022-08-17 19:18] crypto-ticky commented on #555
PROVIDER_URL=[SET PROVIDER URL HERE]
BLOCK_NUMBER=13132379
ACCOUNTS_TO_FUND=

[2022-08-17 19:19] crypto-ticky commented on #555
BLOCK_NUMBER=15360100

That works

[2022-08-17 19:19] DanielVF commented on #555
Cool. Do you want do submit a PR on the address fix?

[2022-08-17 19:19] crypto-ticky commented on #555
yes, I am trying to do it now

[2022-08-17 21:04] sparrowDom commented on #555
@micahalcorn mind adding @crypto-ticky to the contributors team? ( https://github.com/orgs/OriginProtocol/teams/contributors/members )

[2022-08-22 19:49] micahalcorn commented on #1056
Closing this since we've already made progress on the generalized Convex strategy 🎊

[2022-08-22 19:49] #1056 closed

[2022-08-22 20:11] micahalcorn commented on #1055
We'll start with just the homepage: https://www.figma.com/file/XkS37DmHFHdlKrO2AeyhuE/OUSD-Marketing-Site?node-id=53%3A480

[2022-08-22 20:12] #1061 closed

[2022-08-23 11:31] rolandpo commented on #728
done in #1070

[2022-08-23 11:31] #728 closed

[2022-08-23 11:31] rolandpo commented on #792
done in #1063

[2022-08-23 11:31] #792 closed

[2022-08-25 15:08] micahalcorn commented on #792
There's some concern that #1063 doesn't completely resolve this, but none of us have been able to reproduce the issue lately. We'll reopen this with more details if we find anything.

[2022-08-26 23:43] micahalcorn opened #1072 "Inconsistent address casing"
In this screenshot, I noticed different casing between the account history and the wallet status in the top right corner.

[2022-08-26 23:50] micahalcorn opened #1073 "Empty balance"
A user reported that the balance is not showing properly while the pending yield and lifetime earnings are.

![case](https://user-images.githubusercontent.com/273937/187003782-4624118e-e22a-4924-a0aa-cbf114dc83f8.png)

I was able to reproduce the issue and saw some errors in the console.

<img width="363" alt="Screen Shot 2022-08-26 at 4 44 40 PM" src="https://user-images.githubusercontent.com/273

[2022-08-29 18:43] 0xcodercrane commented on #1073
### Where does this error happen?

Above error happens at [balances.service.js](https://github.com/OriginProtocol/origin-dollar/dapp/src/services/services/balances.service.js) because the provider returns error.

[code]

### Why does this error happen?

- [ ] First possible reason is when the alchemy api returns error for some reasons (i.e. rate exceed or whatever)
- [ ] Next possible reason is th

[2022-08-30 12:52] tomhirst commented on #1073
Thanks for your research @0xcodercrane, that was helpful.

I managed to replicate this issue locally and fix it with https://github.com/OriginProtocol/origin-dollar/pull/1075

[2022-08-30 13:48] 0xcodercrane commented on #1073
I am glad if it was helpful

[2022-09-07 04:29] #1073 closed

[2022-09-07 04:29] #1065 closed

[2022-09-07 04:34] micahalcorn opened #1077 "Build FAQ page"
Expanding from https://github.com/OriginProtocol/origin-dollar/issues/1055, we'll want to add an FAQ page that will be accessible from the new nav.

‣ [Design in Figma](https://www.figma.com/file/XkS37DmHFHdlKrO2AeyhuE/OUSD-Marketing-Site?node-id=298%3A750)

[2022-09-07 04:42] micahalcorn opened #1078 "Build OGV dashboard page"
Expanding from https://github.com/OriginProtocol/origin-dollar/issues/1055, we'll want to add a token dashboard that will be accessible from the new nav via "OGV".

‣ Design in Figma (coming soon)

[2022-09-07 04:47] micahalcorn opened #1079 "Build OGV burn page"
Leading up to the OGV burn on October 10th, we'll want to promote a landing page that shows a countdown, how many tokens have gone unclaimed and will be burned, as well as with some other stats and content.

‣ Design in Figma (coming soon)

[2022-09-07 07:53] chandu-jadhav commented on #1077
Hey , can I work on this issue?

[2022-09-07 12:11] ighmaZ commented on #1077
i wanna contribute!

[2022-09-09 04:50] micahalcorn commented on #1077
@chandu-jadhav @ighmaZ ping me in the #ousd-engineering Discord channel if you're interested in picking up an issue.

[2022-09-11 06:30] ighmaZ commented on #1077
hi @micahalcorn , how do i start?

[2022-09-12 04:33] franckc opened #1080 "Rinkeby -> Goerli migration"
With The Merge happening in just a few days from now, we should migrate from Rinkeby to Goerli.
Alchemy mentioned they'll stop supporting Rinkeby by October 5th.

We should look for references and use of Rinkeby in our 3 repos and replace with Goerli:
 - [x] OUSD: https://github.com/OriginProtocol/origin-dollar/
 - [x] OUSD governance: https://github.com/OriginProtocol/ousd-governance
 - [x] OUSD

[2022-09-12 13:32] micahalcorn commented on #1080
Related: https://github.com/OriginProtocol/ousd-governance/issues/286

[2022-09-13 04:25] franckc commented on #1051
When going to Sentry and looking at the dashboard for the OUSD dapp (see https://sentry.io/organizations/origin-protocol/issues/?project=5423988), I don't see a staging environment in the dropdown. I only see production.
So the DApp on staging is probably not populating that argument properly when calling the Sentry API.

<img width="1160" alt="Screen Shot 2022-09-12 at 9 24 23 PM" src="https://us

[2022-09-13 07:46] #555 closed

[2022-09-13 10:41] tomhirst commented on #1079
I made a quick page on the governance dApp for this to tide us over: https://governance.ousd.com/burn

@rolandpo There might be some useful math for you here: https://github.com/OriginProtocol/ousd-governance/blob/0b4313155c289633ecc4894de4bdb455e0bc5b9b/client/pages/burn.tsx#L57

[2022-09-13 10:45] tomhirst commented on #1080
@ivanzhelyazkov Loose process I had planned for OUSD governance:

1. Deploy contracts to Goerli
1. Set up a new Heroku environment for Goerli (with database)
1. Set it to auto-deploy from the `staging` branch
1. Update the environment vars as appropriate (`https://eth-goerli.alchemyapi.io/v2/...` etc.)

[2022-09-13 16:52] Techmoen opened #1083 "Add No-Fee OUSD Redemption Strategist Function"
Currently the Curve Pool is imbalanced which has brought the peg for OUSD to $0.996 - this means that people are not able to exit their positions without taking a significant amount of slippage (~2 months of trailing yield). The OUSD metastrategy proposal would help this, rebalancing the pool by adding more 3CRV to the pool (and booking a profit in the process).

However, this is not sustainable a

[2022-09-14 09:29] sparrowDom commented on #1083
Sweet thanks for writing this up @Techmoen. This does seem like a nice arbitrage opportunity. I think a simple Burn of the OUSD tokens lifted from curve pool should do the trick.

Some unorganised thoughts:
- by arbing & balancing the pool we would be reducing the total supply of OUSD.
- Metastrategy could be doing this or a whole separate strategy. This probably shouldn't be a new strategy that b

[2022-09-14 14:32] ivanzhelyazkov commented on #1080
OUSD governance contracts PR for the migration:
https://github.com/OriginProtocol/ousd-governance/pull/333
OUSD repo don't use a testnet environment - Master and Staging are connected to the mainnet deployment (there are deprecated Rinkeby references though)
OUSD analytics repo doesn't have any Rinkeby references

[2022-09-14 18:01] DanielVF opened #1087 "Code Review of OGV ERC20 Governance Token"
Contract:
https://github.com/OriginProtocol/ousd-governance/blob/master/contracts/GovernanceToken.sol
https://etherscan.io/address/0x9c354503c38481a7a7a51629142963f98ecc12d0

Tests:
https://github.com/OriginProtocol/ousd-governance/blob/master/tests/test_token.py

Deploy Script:
https://github.com/OriginProtocol/ousd-governance/blob/master/scripts/deploy_token.py

[2022-09-14 18:01] DanielVF opened #1088 "Deploy Review of OGV ERC20 Governance Token"
### Contracts

- OGV proxy: https://etherscan.io/token/0x9c354503c38481a7a7a51629142963f98ecc12d0
- OGV Impl: https://etherscan.io/token/0xed6e3808fce0c4a52dea8636933f666c6dea4d1d
- OGV Prev Impl: https://etherscan.io/address/0x6ce89ff1e8a910007bac236c27b88f8a95b0bfad

[2022-09-14 18:08] DanielVF commented on #1087
Note that these dependancies are openzeppelin-contracts-upgradeable so there may be important differences with the standard OZ contracts.

[2022-09-14 20:27] DanielVF commented on #1087
### Dependencies
- [x] Have read all OZ smart contract dependencies.
- [x] No rentrancy.

### Access control

The contract combines two different access control methodologies. It use both the single address owner style, and the role based style. Currently no admins for the role base style are set, so minter access control for now is only through the owner-style method.

<img width="668" alt="image

[2022-09-15 01:27] franckc opened #1090 "Launch governance to Mainnet"
TODO:
 - [ ] Finish writing the deploy procedure (@DanielVF)
 - [ ] Review the deploy (@sparrowDom and @franckc)
 - [ ] Monitoring for the governance and timelock contract (@ivanzhelyazkov )
 - [ ] Test a Mainnet proposal thru the governance UI (@DanielVF )

[2022-09-15 01:31] franckc opened #1091 "Launch OUSD meta strategy to Mainnet"
TODO
 - [x] Finish the code review (@DanielVF)
 - [x] CI fork test architecture that simulate various mainnet states (@shahthepro)
 - [x] Write deploy procedure (@sparrowDom)

[2022-09-15 01:35] franckc opened #1092 "Launch convex generalized meta strategy to Mainnet"
TODO:
 - [ ] Finish the code review (@DanielVF )
 - [x] CI fork test architecture that simulate various mainnet states (@shahthepro)
 - [ ] ~~Decide which metapools to target (@Techmoen + @sparrowDom)~~
    - ~~Note: Each metapool will have its own strategy contract~~
 - [x] Deploy procedure (@sparrowDom)

[2022-09-15 01:37] franckc opened #1093 "Launch Buyback to Mainnet"
TODO
 - [x] One PR Deployed, awaiting deploy review (Domen + Shah)
 - [x] One PR is waiting a deploy script and deploy (Domen + Shah)
 - [x] Update monitoring (Domen + Shah)

[2022-09-15 01:39] franckc opened #1094 "Launch new originprotocol.com website"
TODO
 - [ ] Website redesign
 - [ ] CMS integration

[2022-09-15 01:41] franckc opened #1095 "Redesign ousd.com homepage"

[2022-09-15 01:42] franckc opened #1096 "Integrate ousd.com with CMS"

[2022-09-15 01:45] franckc opened #1097 "Repo consolidation for Governance and ousd contracts"
Having governance contracts in a separate repo from ousd makes the testing harder. We'd like to consolidate all the contracts under the ousd repo.

TODO
 - [ ] Move governance contracts over to the OUSD repo
 - [ ] Rewrite governance brownie tests to hardhat

Caveat: governance and ousd contracts use different versions for
 - Solidity
 - Open Zeppelin contracts
We'd like to preserve that so that w

[2022-09-15 06:46] micahalcorn commented on #1097
Is the second part of this the same as https://github.com/OriginProtocol/ousd-governance/issues/292 ?

[2022-09-15 06:50] micahalcorn commented on #1095
I assume this is a duplicate of https://github.com/orgs/OriginProtocol/projects/4/views/11. 👯

[2022-09-15 06:50] #1095 closed

[2022-09-15 11:05] sparrowDom opened #1098 "Github contract code vs client code PR template"
Currently we are using a singular [PR template](https://github.com/OriginProtocol/origin-dollar/blob/master/pull_request_template.md). Whenever there is a contract code change we need to be mindful and also copy the [security checklist](https://github.com/OriginProtocol/security/blob/master/templates/Contract-Code-Review-Example.md) to the PR description.

Would be cool if we were to develop a bot

[2022-09-15 17:47] franckc commented on #1083
@sparrowDom @DanielVF It feels this needs some thinking on the engineering side before we implement. Shall we target this for next sprint or do you think it fits in SP35?

[2022-09-15 19:39] DanielVF commented on #1088
Weird thing I've noticed is that the old implementation contract has out of place escaping in the comments.

<img width="557" alt="image" src="https://user-images.githubusercontent.com/837/190494095-7e3737b3-5013-4555-8802-1f9c6315fcba.png">

[2022-09-15 20:02] DanielVF commented on #1083
Don't think it fits into this one, but I'll circle back and check it once I've review the Metastrategy PR. We may not need this.

[2022-09-15 22:23] sparrowDom commented on #1087
Interestingly owner ( 0xbe2ab3d3d8f6a32b96414ebbd865dbd276d3d899 ) has the default admin role:
<img width="1340" alt="Screenshot 2022-09-16 at 00 22 59" src="https://user-images.githubusercontent.com/579910/190519220-10f7b4f7-8081-4cc6-8aa5-0bfebe749557.png">

[2022-09-15 23:17] franckc opened #1099 "Review apps"
On Story, we automatically create "review apps" every time a developer creates a new branch.
That includes:
 - front-ends
 - a local hardhat node
It is super handy for testing changes before merging to the master branch.

It would be nice to have something similar for OUSD where it would:
 - deploy front-ends for the OUSD and Governance DApps
 - create a mainnet forked hardhat node that the DApps

[2022-09-16 10:16] sparrowDom commented on #1087
All the OpenZeppelin dependencies:
- [ERC20BurnableUpgradeable.sol  ](https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable/blob/v4.6.0/contracts/token/ERC20/extensions/ERC20BurnableUpgradeable.sol)
  - [x] code doing what we expect for our use case
  - [x] all ACL / init states make sense
- [OwnableUpgradeable.sol](https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable/bl

[2022-09-16 12:39] DanielVF commented on #1087
Thanks for that catch, Domen, on the default admin permissions. I checked that this permissions weren't granted before the handover, but hadn't checked the event logs.

We'll need to be sure to change these permissions to when we switch over ownership of this contract in the future away from the multisig.

[2022-09-16 13:25] DanielVF commented on #1087
I have verified all dependency sources on both the proxy and the implementation.

I don't think you need do this also @sparrowDom.

[2022-09-16 13:26] DanielVF commented on #1088
Domen has also also reviewed the deploy in #1087

[2022-09-16 13:26] #1088 closed

[2022-09-16 16:49] #1087 closed

[2022-09-21 06:19] micahalcorn opened #1112 "Exclude exchange transfers from total airdrop claims"
As discussed in Discord, we prefer that the "Claim stats" section of the burn page reflect the actual, on-chain numbers of tokens claimed and not include the amounts sent to exchange, which may or may not have gone partially unclaimed. Let's also update the footnote accordingly:

This also negates https://github.com/OriginProtocol/ousd-governance/pull/336.

[2022-09-21 07:02] #1079 closed

[2022-09-22 07:37] shahthepro opened #1115 "Add Dependabot and Remove Snyk Integration"
We are no longer subscribed to Snyk's plans. We could remove it in favour of Dependabot.

Copying @franckc's comment from PR #1084 about this:

Perhaps we could get rid of it and enable GitHub dependabot as a replacement? Those two tools are slightly different but if we keep up with updating dependencies recommended by dependabot I think that will go a long way in terms of keeping the repo safe ag

[2022-09-26 04:15] franckc commented on #1010
@sparrowDom Do we need to keep this issue open? is there anything actionable?

[2022-09-29 14:27] ivanzhelyazkov commented on #1051
Added reporting to Sentry on staging environment in PR: #1089

[2022-09-29 14:27] #1051 closed

[2022-09-29 17:55] Techmoen opened #1124 "Implement a Morpho Compound v2 Strategy for USDT, USDC, and DAI"
**Overview**
Morpho is a p2p layer on top of Compound v2 which allows users to get a better APY than using Compound on its own. OGV holders would like to add it as a supported strategy for the backing of OUSD.

https://docs.google.com/document/d/1aLPHt5U-jaHmQgytIQvlze8TYsX4P5G6UP-nWLbJ-Lo/edit#heading=h.ddk1jprrnakr

Morpho Compound v2 has 3 markets we would like to support:

USDC
USDT
DAI

Rewar

[2022-09-30 15:28] #1112 closed

[2022-10-03 15:22] shahthepro commented on #1093
[This PR](https://github.com/OriginProtocol/ousd-analytics/pull/226) should take care of the monitoring

[2022-10-03 16:12] DanielVF commented on #938
With the new governance contracts, we only need one user to execute after things have come out of timelock. Should be good here.

[2022-10-03 16:12] #938 closed

[2022-10-03 16:33] #1093 closed

[2022-10-03 16:58] DanielVF opened #1125 "Transition to new governance"
We want to **safely** transition to OUSD contracts being owned by the new community governance system.

Objectives:

- [ ] All contracts are moved off old governance systems to the new governance system
- [ ] All active OUSD contracts are moved to the new governance system
- [ ] All new governance contracts are owned by the new governance system
- [x] Contract registry docs are up to date.
- [x] E

[2022-10-04 09:38] sparrowDom commented on #1010
nothing actionable closing

[2022-10-04 09:38] #1010 closed

[2022-10-04 12:08] sparrowDom commented on #1083
Metastrategy does make use of Curve's pool imbalance (to whichever side imbalance is on) but doesn't necessarily arb / balance the pool when/if there is a huge imbalance towards metapool having more OUSD.

It could be a fun hackaton project to test if we could modify the OUSDMetastrategy to balance the pool with funds it is trying to deploy (by burning excess OUSD) before deploying liquidity

[2022-10-04 13:19] micahalcorn opened #1126 "Account history override improvements"
We have a nice feature that allows anyone to view the OUSD account history of a given address by supplying an `account_override` query parameter to the URL.

Example: https://ousd.com/history?override_account=0xfA75aFe16bD3802D7Cd59900D33038db238A90A6

There are two improvements that would be helpful here:

1) Similar to https://github.com/OriginProtocol/origin-dollar/issues/1007, the account hist

[2022-10-04 20:36] joshfraser commented on #1126
I like how Zapper and Zerion add your wallet address to the URL. This makes it really intuitive that you can change the URL to view any wallet you want.

[2022-10-05 04:59] franckc commented on #1125
Thanks for writing this up! High level plan LGTM.

For 1.2 (survey of old contracts), we could check the commit history for the registry page on docs.ousd.com, or also look at the on-chain transactions initiated by the multisig against the governor as part of governance proposal queueing/execution. Or we could also look at our launch plan xsheet since we typically record the deployed contract addr

[2022-10-05 04:59] franckc commented on #1125
CC @sparrowDom @shahthepro @micahalcorn

[2022-10-05 09:51] sparrowDom commented on #1125
LGTM

Would be also cool to test run the two batches on forked network. And write tests that after the transfer of ownership contracts remain functional and upgradeable.

Also thinking it would probably be really convenient to have `ousd-governance` and `origin-dollar` repos merged into the same one.

[2022-10-05 18:39] DanielVF commented on #1125
Will do the two transitions, old then new @franckc .

[2022-10-05 18:39] DanielVF commented on #1125
Code to scrape active contracts and owners:

[code]

[2022-10-05 19:22] DanielVF commented on #1125
Active:

<img width="852" alt="image" src="https://user-images.githubusercontent.com/837/194144797-001693aa-d5ce-49f7-825f-5cba237c64af.png">

[2022-10-10 11:06] alfredlouisw8 commented on #1126
hi, can I work on this?

[2022-10-10 15:08] micahalcorn commented on #1126
Sure, I've added you to the organization so that you can push a branch instead of forking. Let us know if you have any questions. 🙂

[2022-10-10 16:16] alfredlouisw8 commented on #1126
thank you! I've created a [PR](https://github.com/OriginProtocol/origin-dollar/pull/1130) for this, please kindly review it and tell me if I did anything wrong :)

[2022-10-11 18:35] DanielVF opened #1132 "Burn imprecision in OUSD will happen in centuries with yield"
# Report from _Rappie_ via Immunefi:

## Description

There is a bug present in the OUSD contract. Calling the burn function on an address with zero balance causes the totalSupply to go down. This happens because of an incorrect/incomplete check for rounding errors.

The end result is a situation where the sum of all balances exceeds the total supply. This is a dangerous situation which can lead t

[2022-10-11 18:38] DanielVF commented on #1132
The deployed version of OUSD actually has 1e36 based precision, rather than an 1e18 precision. You can see this by looking at ousd.rebasingCreditsHighres(). (We have been keeping it at 1e18 in our github source so that our tests work on the edge of the where it starts loosing precision).

Because of this, this rounding burn issue doesn't appear until OUSD has earned about 10,000,000,000x yield fro

[2022-10-12 10:21] alfredlouisw8 commented on #1126
Hi sorry to ping you @micahalcorn, I just want to check if I need to do something else here, I have created a PR for this issue :)

[2022-10-12 12:55] DanielVF commented on #1125
Notable inactive contracts:

- Old vault proxy 0x277e80f3E14E7fB3fc40A9d6184088e0241034bD. Still has approvals on it from users.
- Old buyback 0x77314EB392b2be47C014cde0706908b3307Ad6a9. Still has a bit of OGV, OGN, and a little OUSD on it
- Old compensation claims contract 0x9C94df9d594BA1eb94430C006c269C314B1A8281. Still has 22.8K OUSD on it.

[2022-10-12 14:04] DanielVF commented on #1125
Contracts to migrate to new system:

#### 🟦 DVF Deployer (0x69e078ebc4631e1947f0c38ef0357de7ed064644) Status: Ready to accept

Address | Name
-|-
0x48Cf14DeA2f5dD31c57218877195913412D3278A | VaultCore

#### 🟨 Old Governor (0x830622bdd79cc677ee6594e20bbda5b26568b781) Status: In timelock

Address | Name
-|-
0x9C94df9d594BA1eb94430C006c269C314B1A8281 | CompensationClaims
0xD5433168Ed0B1F7714819646606

[2022-10-13 03:54] franckc opened #1133 "Strategies testing framework"
High level idea:

- We've been writing duplicate test cases for every strategy. Need refactor
- We should test every single strategy individually
- Fork testing
- Front-running tests would be very valuable
- Differentiate default vs non-default strategy
- For ex Morpho should be a drop-in replacement for Comp in terms of testing

[2022-10-13 03:56] franckc commented on #1133
Stretch goal for SP37

[2022-10-13 03:59] franckc opened #1134 "Strategies monitoring - Phase II (non critical)"
Product spec to come.

High level:
- Not a hard requirement for the first few Convex strategies, but needed for FRAX
- Will track a handful of metrics that will trigger alerts with different levels
- No dashboard yet, start with email, SMS, and Discord channels

[2022-10-13 04:02] franckc opened #1135 "Morpho strategy internal audit"
- [ ] Review the smart contract code for the new OUSD morpho strategy.
 - [ ] Review the morpho smart contracts

[2022-10-19 01:33] GuzmanMassAdoption opened #1136 "Create PR in Enkrypt's Repo. to add support for: OGN, OGV, OUSD, veOGV and wOUSD"
In order for OGN, OGV, OUSD, and wOUSD to be supported on Enkrypt a PR must be submitted and shared with the MEW team.

Below I have provided the link to the repository: https://myetherwallet.gitbook.io/enkrypt-documentation/adding-an-evm-network

[2022-10-19 18:16] ivanzhelyazkov commented on #1080
For OUSD-governance deployed new governance contracts on Goerli, connected the UI to the new contracts and replaced all Rinkeby references with Goerli, as well as tested the entire workflow from submitting a proposal to voting.
For Origin-dollar removed all Rinkeby references and tested that staging works correctly.

[2022-10-19 18:16] #1080 closed

[2022-10-24 15:22] ivanzhelyazkov commented on #1097
I have some architectural questions about the move of the governance contracts to the OUSD repo.
Imo there are 3 ways to do that:
1. Merge the governance and OUSD repos in one monorepo
2. Import the governance repo as a submodule in the OUSD repo
3. Copy the contracts from the gov repo only and keep them up-to-date in the OUSD repo

Imo the best way to do this is the second way, since we wouldn't

[2022-10-25 15:53] #1135 closed

[2022-10-26 04:02] franckc commented on #1097
How about just moving the contracts from the governance repo to the origin-dollar repo? Is that what you mean by option 3?

[2022-10-26 07:54] sparrowDom commented on #1097
@ivanzhelyazkov I think the best way to go would be Nr.1. The goals we want to achieve are:
- have all the contracts compiled using hardhat instead of brownie
- have the same deployment tooling (hardhat) when updating / deploying governance & OUSD contracts
- still have the ability to use brownie console as it is used right now

I don't think submodules are a good approach because:
- with submodul

[2022-10-26 08:11] ivanzhelyazkov commented on #1097
For me it makes sense to consolidate everything in one repo, only issue I see there is tracking the git history of the changes to OUSD and OUSD-governance will become more difficult.

[2022-10-26 12:16] sparrowDom commented on #1097
Yeah that is a good point. I guess for some transitional time we will have to refer to the repo we discontinue to check for historical changed. Which isn't too bad IMHO.

[2022-10-27 19:06] franckc commented on #1055
The scope of the MVP is homepage + blog posts page.

[2022-10-27 19:10] franckc commented on #1134
[Product spec](https://docs.google.com/document/d/1D5IickYp5yCK599rCg8obASVQKYIufebLQFOIOA_VfA/edit#)

[2022-10-27 19:12] franckc opened #1156 "Strategies monitoring - Phase I (critical)"
[Product spec](https://docs.google.com/document/d/1D5IickYp5yCK599rCg8obASVQKYIufebLQFOIOA_VfA/edit#)

In scope for phase I:
 - Update analytics.ousd.com to show the new meta strategies
 - Add notifications (discord, email, text) if a generalized convex pool gets out balanced (Note: to be confirmed depending on what pools we implement)

[2022-10-27 19:12] franckc opened #1157 "Strategies monitoring - Phase I (critical)"
[Product spec](https://docs.google.com/document/d/1D5IickYp5yCK599rCg8obASVQKYIufebLQFOIOA_VfA/edit#)

In scope for phase I:
 - Update analytics.ousd.com to show the new meta strategies
 - Add notifications (discord, email, text) if a generalized convex pool gets out balanced (Note: to be confirmed depending on what pools we implement)

[2022-10-27 19:14] franckc commented on #1134
Related: #1157

[2022-10-27 19:27] franckc commented on #1096
Let's track this as part of #1055

[2022-10-27 19:27] #1096 closed

[2022-10-28 20:03] ivanzhelyazkov commented on #1097
An update on this issue - I've gone forward with the consolidation of OUSD governance contracts in the Origin-dollar repo and have hit a problem which will impact the resulting contracts in the repo. There are five contracts which have identical names in OUSD and OUSD governance. I've compiled the files successfully without changing the names, but hit several blocks while trying to run the tests.

[2022-10-31 04:27] shahthepro commented on #1097
For MockOGV, we only use these mock contracts in unit tests. So having a storage layout change in that contract shouldn't be a problem at all.

Fair enough

There seems to be [one breaking change in the OZ Address contract](https://github.com/OpenZeppelin/openzeppelin-contracts/releases/tag/v4.5.0), between ^4.4.0 and ^4.6.0. So the proposed solution sounds good to me. One thing to note is that we

[2022-10-31 04:58] shahthepro commented on #1156
Seems to be a duplicate of #1157, closing this

[2022-10-31 04:58] #1156 closed

[2022-11-03 12:57] sparrowDom commented on #1097
I think you could put them all in `/root/contracts/contracts/governance` directory and move the contracts that are currently in that directory to `/root/contracts/contracts/ousd-governance`

[2022-11-03 13:05] sparrowDom commented on #1097
Oh I see you've done it the other way around. That is fine as well IMO

[2022-11-03 13:06] sparrowDom commented on #1097
Mental note: we will need to run a diff of the contract between 2 repos. Just to confirm there have not been any unintended changes

[2022-11-03 13:13] sparrowDom commented on #1097
Yes go ahead and consolidate that into one contract. Storage slots are not impacted and I think we can use the 4.6.0 address with the [new way of identifying](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/utils/Address.sol#L41) if an address is a contract. And bump the pragma solidity compiler to ^0.8.1. for that file.

[2022-11-03 18:57] micahalcorn opened #1162 "Add tokens to Liquality"
From their team:

if this package as support for the icon they don't need to add it https://www.npmjs.com/package/cryptocurrency-icons

[2022-11-04 15:07] DanielVF opened #1164 "OUSD rebases can fail if there are no rebasingTokens"
In the unlikely event that all OUSD is nonRebasing, then rebases revert, blocking redeems and large mints.

This isn't something that's going to happen in real life, but it's an incorrectness that would be nice to fix someday as a part of renaming the rebasing part of OUSD.

[code]

My initial lean is towards just short-circuit out of rebasing if rebasingTokens = 0, similar to what we do if the to

[2022-11-04 15:09] DanielVF commented on #1164
_From Reppie_

### Introduction

There is a bug present in the Vault contract. The redeem function reverts when there are only non-rebasing credits present in the OUSD contract.

The bug is present in the deployed code on the Ethereum mainnet, located here:

https://etherscan.io/address/0xe75d77b1865ae93c7eaa3040b038d7aa7bc02f70?utm_source=immunefi
https://etherscan.io/address/0x2A8e1E676Ec238d8A9

[2022-11-07 12:44] DanielVF opened #1165 "VaultCore.sol contains unused import"
It looks like there's a unused import in vault core:

`import "@openzeppelin/contracts/utils/Strings.sol";`

[2022-11-07 12:57] DanielVF opened #1166 "Incorrect comment in vault test"
This is a good test to have, but this particular comment isn't correct:

https://github.com/OriginProtocol/origin-dollar/blob/c30a93250d0cb12ae30f797cc93f7d1a9221ba78/contracts/test/vault/index.js#L524-L527

[2022-11-07 17:15] micahalcorn opened #1167 "Homepage cleanup"
Remaining P2-P3 issues in [the review doc](https://docs.google.com/document/d/1pW_4bXKEWObiTZ88G2j_gJQXrtwquki6qAyZYHFsLno/edit#heading=h.triiycpdb26r) 🧹

[2022-11-07 17:19] micahalcorn opened #1168 "Replace HTML meta images"
This image appears when the site is linked on Twitter, Facebook, Discord, etc. It should be replaced with something following the style of the new site.

<img width="517" alt="Screen Shot 2022-11-07 at 9 19 03 AM" src="https://user-images.githubusercontent.com/273937/200373900-9a1fe897-3aad-4f79-b760-aa2df46a697d.png">

[2022-11-07 17:22] micahalcorn opened #1169 "Expandable collateral section"
Enable visitors to see where collateral is held on-chain via Etherscan links.

[2022-11-07 17:24] micahalcorn opened #1170 "Explanation blocks for strategies"
Add a 1-2 sentence summary description under each strategy in the allocation section of the homepage.

[2022-11-07 17:26] micahalcorn opened #1171 "Final copy review"
Specifically, consider replacing the term "market-neutral" due to confusion.

[2022-11-08 15:20] micahalcorn commented on #1055
Considering this done 🚪 I will create additional issues for performance-related launch blockers.

[2022-11-08 15:20] #1055 closed

[2022-11-08 16:10] #1091 closed

[2022-11-08 17:46] #1124 closed

[2022-11-08 17:54] micahalcorn opened #1173 "Allocation/liquidity constraints"
Create a table or a formula dictating how much we can allocate to a particular Curve metapool given its A factor, TVL, stablecoin price, etc.

[2022-11-08 17:58] micahalcorn opened #1174 "Final Morpho implementation/testing"
Wrap up the Morpho strategy code so that it can be deployed and put to work.

[2022-11-08 17:59] micahalcorn opened #1175 "Morpho strategy deployment"
Create a proposal to deploy the Morpho strategy.

[2022-11-08 18:06] micahalcorn opened #1176 "TUSD code/audit review"
Review the following for any surprises:
- [ ] External audits from [Slow Mist](https://github.com/slowmist/Knowledge-Base/blob/master/open-report/TrueUSD-Smart-Contract-Security-Audit-Report.md) and [Certik](https://www.certik.com/projects/trueusd)
- [ ] On-chain [token contracts](https://etherscan.io/token/0x0000000000085d4780B73119b644AE5ecd22b376)
- [ ] [Source code](https://github.com/trusttok

[2022-11-08 18:09] micahalcorn opened #1177 "LUSD code/audit review"
Review the following for any surprises:
- [x] External [audits](https://docs.liquity.org/documentation/resources#security-audits)
- [x] On-chain [token contracts](https://etherscan.io/token/0x5f98805A4E8be255a32880FDeC7F6728C6568bA0)
- [x] [Source code](https://github.com/liquity/dev)

[2022-11-08 18:12] micahalcorn opened #1178 "LUSD economic review"
Review the tokenomics and risks associated with LUSD.

https://docs.liquity.org/documentation/resources#risk-assertions

[2022-11-08 18:14] micahalcorn opened #1179 "TUSD-3Crv strategy deployment"
Pending governance approval, create a proposal to deploy the TUSD-3Crv implementation of the generalized Convex strategy.

[2022-11-08 18:15] micahalcorn opened #1180 "LUSD-3Crv strategy deployment"
Pending governance approval, create a proposal to deploy the LUSD-3Crv implementation of the generalized Convex strategy.

[2022-11-08 18:32] micahalcorn opened #1181 "Resolve critical performance issues"
Launch the redesigned [OUSD.com](https://ousd.com) in production once we're able to get a green light from marketing.

- [SEO improvement recommendations](https://docs.google.com/document/d/1q62VHbNDaUvuFGwtHsHfxv6FZ9U-R5OwzeNGiBEjkGI/edit#heading=h.o5xvwqnl39f2)

[2022-11-08 21:49] matt-bullock commented on #1168
Attached jpg and png formats

![OUSD Meta Tag Image](https://user-images.githubusercontent.com/39496225/200682846-321aecfc-01a3-4c75-8999-8b149a83173f.jpg)
![OUSD Meta Tag Image](https://user-images.githubusercontent.com/39496225/200682852-9a3f9924-6ee3-4ccd-ba89-0324daf2d4ad.png)

[2022-11-10 15:05] DanielVF opened #1184 "Metastrategy - consider removing rebases from OUSD changes"
- Costs a huge amount of gas
- Shouldn't really matter anyway, right?
- Its it accurate?

[2022-11-10 22:46] micahalcorn opened #1185 "Partner page"
As requested by marketing, let's add a page where we can add logos of partners that support OUSD and link out to them. We'll have three categories:
- wallets
- media
- exchanges

[2022-11-12 03:46] micahalcorn opened #1187 "404 page"
An error is thrown when someone visits an invalid route. Let's handle this properly with a 404 and consider whether or not to use the same design across all sites.

https://staging.ousd.com/wrong

See https://github.com/OriginProtocol/website-frontend/issues/11 😐

[2022-11-21 10:10] sparrowDom commented on #1175
Morpho strategy PR https://github.com/OriginProtocol/origin-dollar/pull/1127 and deployment of artefacts PR https://github.com/OriginProtocol/origin-dollar/pull/1186.

Have ran fork tests on the newly deployed contracts and those succeed.

[2022-11-21 15:34] #1166 closed

[2022-11-22 14:48] sparrowDom commented on #1179
The PR for it is here: https://github.com/OriginProtocol/origin-dollar/pull/1190 and ready to be deployed. We have some considerations [in this doc](https://docs.google.com/document/d/1vfzD3M-3CzAwU46XeZOoWiV3XI2lLMnjoCM42UOqseA/edit)  that we want to get clarity on before continuing

[2022-11-22 16:12] sparrowDom commented on #1092
@DanielVF did you want to do any further review of Generalized Metastrategy Contract code?

[2022-11-22 16:56] #1176 closed

[2022-11-22 16:59] #1170 closed

[2022-11-22 17:55] franckc commented on #937
WIP PR here: https://github.com/OriginProtocol/origin-dollar/pull/1071

[2022-11-22 22:42] sparrowDom opened #1192 "Ousd Governance Brave + Metamask wallet connect"
@joshfraser had an issue connecting to [OUSD governance Dapp](https://governance.ousd.com/) with. the combination of Mac + Brave + Metamask. Resulting in this error:
![Screenshot_2022-11-20_at_4 35 13_PM](https://user-images.githubusercontent.com/579910/203436160-3389fe42-d04c-4f2a-bab8-b7a17c5e93e1.png)

@sparrowDom couldn't reproduce it on Mac + Brave (1.45.127) + Metamask (10.22.1) environment.

[2022-11-22 22:43] sparrowDom commented on #1192
@joshfraser can you add Brave + Metamask versions you are using please ☝️

[2022-11-23 00:51] joshfraser commented on #1192
It seems to have been a transient issue that has since gone away. I think we can close this for now.

[2022-11-23 00:51] #1192 closed

[2022-11-23 01:58] #1077 closed

[2022-11-23 14:43] micahalcorn opened #1193 "Strategy monitoring: engineering design doc"
As discussed in this week's community call 📄

[2022-11-23 14:48] DanielVF opened #1194 "Remove SafeMath from OUSD"
Safe math operations are now built into the solidity compiler. We can remove the use of safe math from OUSD and save gas.

[2022-11-25 11:09] sparrowDom commented on #1178
Report of the economic review can be found here:
https://docs.google.com/document/d/12BNIPbjML0l1McWkTrQToyxuIF2mbHbxqJ7FIl3X9uA/edit#

[2022-11-25 21:48] #1178 closed

[2022-11-27 19:31] franckc commented on #1193
@sparrowDom @shahthepro How are we doing on this doc? Would be great to share and finalize it since having the monitoring in place will be blocking for deploying any convex generalized strategy.

[2022-11-28 14:54] sparrowDom commented on #1193
just started doing this, will share when I have smth

[2022-11-28 23:10] franckc commented on #1078
@HrikB Note that we should build this dashboard on the new codebase for the ousd marketing pages (this new repo is not in production yet but will be soon - we plan on launching in the next couple days). See https://github.com/OriginProtocol/ousd.com

[2022-11-30 12:31] matt-bullock opened #1196 "OUSD blog cleanup"
Designs for both the blog home page and article page. Both Desktop and mobile

https://www.figma.com/file/XkS37DmHFHdlKrO2AeyhuE/OUSD-Marketing-Site?node-id=2047%3A25408&t=bao4792JxacOHP0r-1

There's a hover state for the blog post cards here (outline changes transparency and background shadow both dissolve in with 'ease-in'): https://www.figma.com/file/XkS37DmHFHdlKrO2AeyhuE/OUSD-Marketing-Site?n

[2022-11-30 13:55] rolandpo commented on #1196
cards pending https://github.com/OriginProtocol/origin-storybook/pull/11
the easing in is a bit tricky, as i can't apply it to the gradient but I'll try and figure something out

[2022-11-30 14:19] sparrowDom commented on #1193
The design document is here: https://docs.google.com/document/d/17WXnkAKFEk2QNASmljCT8_P_Bib8svxGdjm-GFxLCuU/edit#heading=h.6n1ka1lh01ho

[2022-11-30 14:31] matt-bullock commented on #1196
Don't worry about the easing so much, as long as it fades in in some way and isn't totally abrupt

[2022-11-30 14:32] matt-bullock commented on #1196
Not sure if this helps:

// While hovering
// Change to: "Hover";
// Animate: Dissolve;
animation-timing-function: ease-out;
animation-duration: 300ms;

[2022-11-30 19:52] micahalcorn opened #1197 "Broken image redirect"
The earn (staking) page is not rendering an image because https://**www**.ousd.com/images/splines.png is working but https://**app**.ousd.com/images/splines.png is not.

<img width="1512" alt="Screen Shot 2022-11-30 at 11 50 01 AM" src="https://user-images.githubusercontent.com/273937/204894816-234ca6a0-af38-4706-8301-61d6dc3f05ba.png">